{% load user_link %}

{% if requests|length > 0 %}
    <h3 class="pt-3">Appointment requests</h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Lab date</th>
            <th>Experiment</th>
            <th>Student</th>
            <th>Tutor(s)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for date_exp in requests.values %}
        {% for request in date_exp %}
            <tr>
                <td>{% if forloop.first %}{{ request.date.date }}{% endif %}</td>
                <td>
                    {% if forloop.first %}
                        <a href="{% url 'experiment' request.experiment.category|lower request.experiment.sub_code|lower %}">
                            <icon class="fa fa-lightbulb"></icon> {{ request.experiment.code }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% user_link request.student admin %}
                    {% if request.partners.count > 0 %}
                        ( <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                             title="{{ request.partners_list }}">
                        +{{ request.partners.count }}
                    </a>)
                    {% endif %}
                    {% if request.comment %}
                        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                           title="{{ request.comment }}">
                            <icon class="fa fa-comment-dots"></icon>
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% tutor_link_list request.experiment.tutors.all admin %}
                </td>
                <td class="text-end" style="width: 20px;">
                    {% if forloop.first and admin or labuser.is_tutor %}
                        <a href="{% url "mylab.tutor.process_appointment_request" request.experiment.code request.date.date|date:"Y-m-d" %}"
                           class="proceed-button">
                            <icon class="fa fa-arrow-circle-right" title="Process request"></icon>
                        </a>
                    {% endif %}
                </td>
                <td class="text-end" style="width: 20px;">
                    {% if admin or labuser.is_tutor or LABCOURSE.STUDENT.CAN_CANCEL_APPOINTMENT_REQUEST and labuser.is_student %}
                        <a href="{% url "mylab.tutor.remove_appointment_request" request.pk %}" class="delete-button">
                            <icon class="fa fa-minus-circle" title="Remove request"></icon>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% endfor %}

        </tbody>
    </table>
    <hr>
{% endif %}