{% extends "base.html" %}
{% load static %}

{% block content %}
    {% block mylab_content %}
    {% endblock %}
{% endblock %}

{% block aside %}
    {% if user.is_admin %}
        <h3>Admin</h3>
        <ul>
            <li><a href="{% url "mylab.admin" %}">Overview</a></li>
            <li><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
            <li><a href="{% url "mylab.admin.semester.current" %}">Current semester</a></li>
            <li><a href="{% url "mylab.admin.semester.current.students" %}">Students</a></li>
            <li><a href="{% url "mylab.admin.tutors" %}">Tutors</a></li>
            <li><a href="{% url "mylab.admin.examiners" %}">Examiners</a></li>
            <li><a href="{% url "mylab.admin.user.search" %}">Search user</a></li>
            <li><a href="{% url "mylab.admin.emails.send" %}">Send emails</a></li>
            <li><a href="{% url "mylab.admin.emails.list" %}">List emails</a></li>
            <li><a href="{% url "mylab.admin.studip" %}">Import StudIP</a></li>
        </ul>
    {% endif %}
    {% if user.is_student or user.is_admin %}
        <h3>Student</h3>
        <ul>
            <li><a href="{% url "mylab.student.help" %}">Help</a></li>
            {% if LABCOURSE.STUDENT.CAN_REQUEST_APPOINTMENT %}
                <li><a href="{% url "mylab.student.appointment" %}">Request an appointment</a></li>
            {% endif %}
            <li><a href="{% url "mylab.calendar" %}">Calendar</a></li>
        </ul>
    {% endif %}
    {% if user.is_tutor or user.is_admin %}
        <h3>Tutor</h3>
        <ul>
            <li><a href="{% url "mylab.tutor.help" %}">Help</a></li>
            <li><a href="{% url "mylab.tutor.students" %}">List of students</a></li>
            <li><a href="{% url "mylab.tutor.add_appointment" %}">Add an appointment</a></li>
            <li><a href="{% url "mylab.tutor.instructions.update" %}">Update instructions</a></li>
            <li><a href="{% url "mylab.calendar" %}">Calendar</a></li>
        </ul>
    {% endif %}
    {% if user.is_examiner or user.is_admin %}
        <h3>Examiner</h3>
        <ul>
            <li><a href="{% url "mylab.examiner.help" %}">Help</a></li>
            <li><a href="{% url "mylab.calendar" %}">Calendar</a></li>
        </ul>
    {% endif %}
{% endblock %}