{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item active">Calendar</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item active">Calendar</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Calendar</h3>
    <p>You can use this calendar file in your preferred calendar app to keep track of your ALC appointments:</p>
    <div class="card card-body bg-light text-center mb-5">
        <p class="text-center"><strong><a href="{{ url }}">{{ url }}</a></strong></p>
        <p class="text-center"><strong>Username: </strong> {{ request.user.username }}</p>
        <p class="text-center mb-0"><strong>Token: </strong> {{ request.user.calendar_token }}</p>
    </div>

    <h3>Thunderbird</h3>
    <p>In Thunderbird you can add the calendar like this:</p>
    <ul>
        <li>Go to the calendar.</li>
        <li>Below the little calendar on the left, click on the "+" next to the word "Calendar".</li>
        <li>Select "On the network" and click on "Next".</li>
        <li>Set "Username" to the one given above. Click on "Find calendars".</li>
        <li>Now you should be asked for your password. Enter the token given above.</li>
        <li>On the next page, a single calendar should be listed. Make sure it is selected.</li>
        <li>By clicking on "Properties" you can change its name and colour and other things.</li>
        <li>Finally, click on "Subscribe" to add the calendar.</li>
    </ul>

{% endblock %}
