<h2 class="pt-5">Summary (examiner)</h2>
<table class="table table-bordered table-striped table-responsive-sm">
    <thead>
    <tr>
        <th>Date</th>
        <th>Student</th>
        <th>Experiments</th>
    </tr>
    </thead>
    <tbody>
    {% for exam in summary %}
        <tr>
            <td>
                {{ exam.date|date:"d/m/Y" }}
            </td>
            <td>
                {% if admin %}
                    <a href="{% url "mylab.admin.user" exam.student.pk %}">
                        <icon class="fa fa-info-circle"></icon> {{ exam.student.full_name }}
                    </a>
                {% else %}
                    <a href="mailto:{{ exam.student.email }}">
                        <icon class="fa fa-envelope"></icon> {{ exam.student.full_name }}
                    </a>
                {% endif %}
            </td>
            <td>
            {% for report in exam.reports.all %}
                {% if report.filename %}
                    <a href="{{ report.report_url }}" target="_blank">
                        <icon class="fa fa-file-pdf"></icon>
                        {{ report.appointment.experiment.code }}
                    </a>
                {% else %}
                    {{ report.appointment.experiment.code }}
                {% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="4" class="text-center">No exams found.</td>
        </tr>
    {% endfor %}

    </tbody>
</table>