<a href="{% url 'experiment' experiment.category|lower experiment.sub_code|lower %}">
    <icon class="fa fa-lightbulb"></icon> {{ experiment.code }}{% if full %} - {{ experiment.name }}{% endif %}
</a>
