{% if reports|length > 0 %}
<h3 class="pt-3">Finished reports</h3>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Student</th>
        <th>Labs</th>
        <th>Count</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for student, reps in reports.items %}
        <tr>
            <td>
                {% if admin %}<a href="{% url "mylab.admin.user" student.pk %}">{% endif %}
                {{ student.short_name }}
                {% if admin %}</a>{% endif %}
            </td>
            <td>
                {% for report in reps %}
                    <a href="{% url 'experiment' report.appointment.experiment.category|lower report.appointment.experiment.sub_code|lower %}">
                        <icon class="fa fa-lightbulb"></icon> {{ report.appointment.experiment.code }}
                    </a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ reps|length }}</td>
            <td class="text-end">
                <a href="{% url "mylab.student.add_exam" student.username %}" class="proceed-button">
                    <icon class="fa fa-arrow-circle-right" title="Add exam"></icon>
                </a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4">No finished reports.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}