{% if reports|length > 0 %}
<h3 class="pt-3">Finished reports</h3>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Date</th>
        <th>Lab</th>
        <th>Accepted</th>
        <th>Exam</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for report in reports %}
        <tr>
            <td>{{ report.appointment.date.date }}</td>
            <td>
                <a href="{% url 'experiment' report.appointment.experiment.category|lower report.appointment.experiment.sub_code|lower %}">
                    <icon class="fa fa-lightbulb"></icon> {{ report.appointment.experiment.code }}
                </a>
            </td>
            <td>{{ report.date|date:"d/m/Y" }}</td>
            <td>
                {% if report.exam is None %}
                    <icon class="fa fa-clock text-warning" title="Exam pending"></icon> Pending
                {% else %}
                    <icon class="fa fa-check-circle text-success" title="Exam done"></icon> Finished
                {% endif %}
            </td>
            <td class="text-end" style="width: 20px;">
                {% if labuser.is_student and report.accepts_upload or admin %}
                    <a href="{% url "mylab.student.upload_report" report.pk %}" class="proceed-button">
                        <icon class="fa fa-upload" title="Upload report"></icon>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if LABCOURSE.STUDENT.CAN_ADD_EXAM and labuser.is_student or admin %}
    {% if reports_pending >= LABCOURSE.REPORTS_PER_EXAM %}
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary" href="{% url "mylab.student.add_exam" labuser.username %}">Add exam</a>
        </div>
    {% endif %}
{% endif %}
{% endif %}