{% load user_link %}
<table class="table table-responsive-sm table-striped small">
    <tr>
        <th>Date</th>
        <th>Who</th>
        <th>What</th>
    </tr>
    {% for u in updates %}
        <tr>
            <td>{{ u.date|date:"Y-m-d H:i:s" }}</td>
            <td>{% if u.user %}{% user_link u.user admin=admin %}{% endif %}</td>
            <td>{{ u.what|safe }}</td>
        </tr>
    {% endfor %}
</table>