{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">My Lab</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item active">My Lab</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <p>This is your personal space on the Advanced Lab Course website.</p>

    {% if LABCOURSE.STUDENT.CAN_JOIN and user.is_authenticated and not user.is_student_now and not user.is_admin and not user.is_tutor and not user.is_examiner and not user.requested_join %}
        <div class="text-center">
            <div class="m-5">
                <a href="{% url "mylab.student.request_join" %}" class="btn btn-success btn-lg">Join the Lab Course!</a>
            </div>
            <p>
                If you are are <strong>student</strong> who wants to sign up for the lab course in this semester, please
                click the button above! You only need to register, if you want to do some labs this semester.
            </p>
            <p>
                If you are a <strong>tutor</strong> or an <strong>examiner</strong> and see this, please contact the
                organizer.
            </p>
        </div>
    {% endif %}

    {% if not user.is_authenticated %}
        <p>
            This is the internal area of the website for the <strong>Advanced Lab Course</strong>. It is designed
            to help <strong>students</strong>, <strong>tutors</strong>, and <strong>examiners</strong>
            organize their lab appointments and lab reports.
        </p>
        <p>
            In order to use it, you need to <strong>log in</strong>.
        </p>

        <div class="text-center">
            <div class="m-5">
                {% if LABCOURSE.LOCAL_LOGIN %}
                    <a href="{% url 'login' %}" class="btn btn-success btn-lg">Log in!</a>
                {% else %}
                    <a href="{% url "openid_login" %}" class="btn btn-success btn-lg">Log in!</a>
                {% endif %}
            </div>
        </div>

    {% else %}

        {% include "mylab/user_home.html" %}

    {% endif %}

    {% if dates.count > 0 %}
        <h3>Overview of appointments</h3>

        <table style="width: 300px">
            <tr>
                <td class="bg-success" style="width: 50px;"></td>
                <td>Free</td>
                <td class="bg-danger" style="width: 50px;"></td>
                <td>Booked</td>
            </tr>
        </table>

        <div class="table-responsive">
            <table class="table table-bordered table-very-sm">
                <thead>
                <tr>
                    <td>&nbsp;</td>
                    {% for date in dates %}
                        <td>{{ date.date|date:'d/m' }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for d in data %}
                    <tr>
                        <td>
                            <a href="{% url 'experiment' d.experiment.category|lower d.experiment.sub_code|lower %}">
                                {{ d.experiment.code }}
                            </a>
                        </td>
                        {% for blocked in d.appointments %}
                            {% if blocked %}
                                <td class="bg-danger">&nbsp;</td>
                            {% else %}
                                <td class="bg-success">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}

