{% if join_requests %}
<h3 class="pt-3">Join requests</h3>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>Student</th>
        <th>Semesters</th>
        <th>Safety Briefing</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for r in join_requests %}
        <tr>
            <td>
                <a href="{% url "mylab.admin.user" r.user.pk %}">
                    {{ r.user.full_name }}
                </a>
            </td>
            <td>
                {% if r.user.is_student %}
                    <icon class="fa fa-check-circle text-success" title="Was student before"></icon>
                    {% for s in r.user.student_semesters.all %}
                        {{ s.short_name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    <icon class="fa fa-exclamation-circle text-danger" title="No student before"></icon>
                {% endif %}
            </td>
            <td>
                {% if r.user.safety_briefing_valid %}
                    <icon class="fa fa-check-circle text-success" title="Valid safety briefing"></icon>
                    {{ r.user.last_safety_briefing.date|date:"Y-m-d" }}
                {% else %}
                    <icon class="fa fa-exclamation-circle text-danger" title="Invalid safety briefing"></icon>
                    {% if r.user.last_safety_briefing %}
                        {{ r.user.last_safety_briefing.date|date:"Y-m-d" }}
                    {% endif %}
                {% endif %}
            </td>
            <td class="text-end" style="width: 20px;">
                <a href="{% url "mylab.admin.accept_join" r.user.pk %}" class="proceed-button">
                    <icon class="fa fa-arrow-circle-right" title="Accept join request"></icon>
                </a>
            </td>
            <td class="text-end" style="width: 20px;">
                <a href="{% url "mylab.admin.reject_join" r.user.pk %}" class="delete-button">
                    <icon class="fa fa-minus-circle" title="Reject join request"></icon>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}