{% load user_link %}

{% if reports|length > 0 %}
    <h3 class="pt-3">Pending reports</h3>
    <table class="table table-responsive">
        <thead>
        <tr>
             {% if admin %}<th></th>{% endif %}
            <th>Lab date</th>
            <th>Experiment</th>
            <th>Student</th>
            <th>Tutor(s)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                {% if admin %}<td>
                    <a href="{% url 'mylab.admin.appointment' report.appointment.pk %}">#{{ report.appointment.pk }}</a>
                </td>{% endif %}
                <td>{{ report.appointment.date.date }}</td>
                <td>
                    <a href="{% url 'experiment' report.appointment.experiment.category|lower report.appointment.experiment.sub_code|lower %}">
                        <icon class="fa fa-lightbulb"></icon> {{ report.appointment.experiment.code }}
                    </a>
                </td>
                <td>
                    {% user_link report.student admin %}
                </td>
                <td>
                    {% user_link_list report.appointment.experiment.tutors.all %}
                </td>
                <td class="text-end" style="width: 20px;">
                    {% if labuser.is_student and report.accepts_upload or admin %}
                        <a href="{% url "mylab.student.upload_report" report.pk %}" class="proceed-button">
                            <icon class="fa fa-upload" title="Upload report"></icon>
                        </a>
                    {% endif %}
                </td>
                <td class="text-end" style="width: 20px;">
                    {% if labuser.is_tutor or admin %}
                        <a href="{% url "mylab.tutor.accept_report" report.pk %}" class="proceed-button">
                            <icon class="fa fa-arrow-circle-right" title="Process report"></icon>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">No pending reports.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
{% endif %}