{% if finished|length > 0 %}
    <h3 class="pt-3">Previous labs</h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Lab date</th>
            <th>Experiment</th>
            <th>Students</th>
            {% if labuser.is_tutor or admin %}
                <th></th>
                <th></th>
                <th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for date, appointments in finished.items %}
            {% for appointment in appointments %}
                <tr>
                    <td>
                        {% if forloop.first %}<strong>{{ date }}</strong>{% endif %}
                    </td>
                    <td>
                        <a href="{% url 'experiment' appointment.experiment.category|lower appointment.experiment.sub_code|lower %}">
                            <icon class="fa fa-lightbulb"></icon> {{ appointment.experiment.code }}
                        </a>
                    </td>
                    <td>
                        {% if appointment.students.all|length == 0 %}
                            -
                        {% else %}
                            {% for student in appointment.students.all %}
                                {% if admin %}
                                    <a href="{% url "mylab.admin.user" student.pk %}">
                                        <icon class="fa fa-info-circle"></icon> {{ student.short_name }}
                                    </a>
                                {% else %}
                                    <a href="mailto:{{ student.email }}">
                                        <icon class="fa fa-envelope"></icon> {{ student.short_name }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    {% if labuser.is_tutor or admin %}
                        <td class="text-end" style="width: 20px;">
                            <a href="{% url "mylab.tutor.edit_appointment" appointment.pk %}" class="edit-button">
                                <icon class="fa fa-edit" title="Edit appointment"></icon>
                            </a>
                        </td>
                        <td class="text-end" style="width: 20px;">
                            <a href="{% url "mylab.tutor.close_appointment" appointment.pk %}"
                               class="proceed-button">
                                <icon class="fa fa-arrow-circle-right" title="Process appointment"></icon>
                            </a>
                        </td>
                        <td class="text-end" style="width: 20px;">
                            <a href="{% url "mylab.tutor.remove_appointment" appointment.pk %}" class="delete-button">
                                <icon class="fa fa-minus-circle" title="Remove appointment"></icon>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No finished labs.</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="4">No lab appointments.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
{% endif %}