<table class="table table-responsive-sm table-striped">
    <tr>
        <th>Version</th>
        <th>Date</th>
        <th>File</th>
    </tr>
    {% for v in report.reportversion_set.all %}
    <tr>
        <td>{{ v.version }}</td>
        <td>{{ v.date|date:"Y/m/d H:i:s" }}</td>
        <td>
            <a href="{{ v.report_url }}">
                <icon class="fa fa-file-pdf"></icon>
                {{ v.bare_filename }}
            </a>
        </td>
    </tr>
    {% empty %}
    <tr><td colspan="3" class="text-center">No reports found</td></tr>
    {% endfor %}
</table>