<h2 class="pt-5">Summary (student)</h2>
<table class="table table-bordered table-striped table-responsive-sm">
    <thead>
    <tr>
        <th>Semester</th>
        <th>Date</th>
        <th>Experiment</th>
        <th>Report</th>
        <th>Exam</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in summary.appointments %}
        <tr>
            <td>{{ entry.appointment.date.semester.code }}</td>
            <td>
                {{ entry.appointment.date.date|date:"d/m/Y" }}
            </td>
            <td>
                {% if entry.report %}
                    <icon class="fa fa-check-circle text-success"></icon>
                {% endif %}
                <a href="{% url 'experiment' entry.appointment.experiment.category|lower entry.appointment.experiment.sub_code|lower %}">
                    {{ entry.appointment.experiment.code }}
                </a>
            </td>
            <td>
                {% if entry.report %}
                    {% if entry.report.passed is None %}
                        <icon class="fa fa-clock text-warning"></icon> Pending
                    {% elif entry.report.passed %}
                        <icon class="fa fa-check-circle text-success"></icon>
                        Passed on {{ entry.report.date|date:"d/m/Y" }}
                    {% else %}
                        <icon class="fa fa-exclamation-circle text-danger"></icon> Failed
                    {% endif %}
                    {% if entry.report.reportversion_set.count > 0 %}
                        <ul class="mb-0">
                        {% for rv in entry.report.reportversion_set.all %}
                            <li>
                                <a href="{{ rv.report_url }}" target="_blank">
                                    <icon class="fa fa-file-pdf"></icon>
                                    v{{ rv.version }} ({{ rv.date|date:"d/m/Y" }})
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if entry.exam %}
                    {{ entry.exam.date|date:"d/m/Y" }}
                {% endif %}
            </td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="5" class="text-center">No lab appointments found.</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<table class="table table-bordered table-striped table-responsive-sm">
    <thead>
    <tr>
        <th>Date</th>
        <th>Examiner</th>
        <th>Experiments</th>
    </tr>
    </thead>
    <tbody>
    {% for exam in summary.exams %}
        <tr>
            <td>
                {{ exam.date|date:"d/m/Y" }}
            </td>
            <td>
                {% if admin %}<a href="{% url "mylab.admin.user" exam.examiner.pk %}">{% endif %}
                {{ exam.examiner.full_name }}
                {% if admin %}</a>{% endif %}
            </td>
            <td>
            {% for report in exam.reports.all %}
                {% if report.filename %}
                    <a href="{{ report.report_url }}" target="_blank">
                        <icon class="fa fa-file-pdf"></icon>
                        {{ report.appointment.experiment.code }}
                    </a>
                {% else %}
                    {{ report.appointment.experiment.code }}
                {% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </td>
        </tr>

    {% empty %}
        <tr>
            <td colspan="4" class="text-center">No exams found.</td>
        </tr>
    {% endfor %}

    </tbody>
</table>