{% load user_link %}
<h2 class="pt-5">Summary (tutor)</h2>
<h3>Tutored experiment(s)</h3>
<table class="table table-responsive-sm table-very-sm">
    {% for experiment in experiments  %}
        <tr>
            <td style="background-color: {{ experiment.main_category.color }}">
                {% experiment_link experiment True %}
            </td>
        </tr>
    {% endfor %}
</table>

<h3>Labs</h3>
<table class="table table-bordered table-striped table-responsive-sm">
    <thead>
    <tr>
        <th>Semester</th>
        <th>Date</th>
        <th>Student</th>
        <th>Experiment</th>
        <th>Report</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        {% for student in appointment.students.all %}
            <tr>
                <td>
                    {% if forloop.first %}{{ appointment.date.semester.code }}{% endif %}
                </td>
                <td>
                    {% if forloop.first %}{{ appointment.date.date|date:"d/m/Y" }}{% endif %}
                </td>
                <td>
                    {% if admin %}
                        <a href="{% url "mylab.admin.user" student.pk %}">
                            <icon class="fa fa-info-circle"></icon> {{ student.full_name }}
                        </a>
                    {% else %}
                        <a href="mailto:{{ student.email }}">
                            <icon class="fa fa-envelope"></icon> {{ student.full_name }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if appointment.is_open %}
                        <icon class="fa fa-clock text-warning"></icon>
                    {% else %}
                        <icon class="fa fa-check-circle text-success"></icon>
                    {% endif %}
                    <a href="{% url 'experiment' appointment.experiment.category|lower appointment.experiment.sub_code|lower %}">
                        {{ appointment.experiment.code }}
                    </a>
                </td>
                <td>
                    {% for report in appointment.report_set.all %}
                        {% if report.student.pk == student.pk %}
                            {% if report.passed is None %}
                                <icon class="fa fa-clock text-warning"></icon> Pending
                            {% elif report.passed %}
                                <icon class="fa fa-check-circle text-success"></icon>
                                Passed on {{ report.date|date:"d/m/Y" }}
                            {% else %}
                                <icon class="fa fa-exclamation-circle text-danger"></icon> Failed
                            {% endif %}
                            {% if report.reportversion_set.count > 0 %}
                                <ul class="mb-0">
                                {% for rv in report.reportversion_set.all %}
                                    <li>
                                        <a href="{{ rv.report_url }}" target="_blank">
                                            <icon class="fa fa-file-pdf"></icon>
                                            v{{ rv.version }} ({{ rv.date|date:"d/m/Y" }})
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    {% empty %}
        <tr>
            <td colspan="5" class="text-center">No lab appointments found.</td>
        </tr>
    {% endfor %}

    {% for experiment, count in experiments.items  %}
        {% if count > 0 %}
        <tr>
            <td style="background-color: {{ experiment.main_category.color }}" colspan="5" class="text-center">
                <a href="{% url 'mylab.tutor.experiment' experiment.category|lower experiment.sub_code|lower %}">
                    List all {{ count }} student(s) for {{ experiment.code }}
                </a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}

    </tbody>
</table>

<h3>Gauss Credits</h3>
<table class="table table-bordered table-striped table-responsive-sm">
    <tr class="text-center">
        <th>Semesters</th>
        <th>Finished reports</th>
        <th>Credits</th>
    </tr>
    <tr>
        <td>
            {% for sem in semesters %}
                {{ sem.experiment }}: {{ sem.semesters }} (<strong>{{ sem.credits }}C</strong>)<br/>
            {% endfor %}
        </td>
        <td>{{ num_reports }} (<strong>{{ report_credits }}C</strong>)</td>
        <td style="font-size: x-large"><strong>{{ credits }}C</strong></td>
    </tr>
    <tr class="text-center">
        <td colspan="3">(1C per semester plus 1C for each four finished reports)</td>
    </tr>
    <tr class="alert-warning text-center">
        <td colspan="3">These numbers were created automatically and may vary from final credits!</td>
    </tr>
</table>