{% if admin %}
    <a href="{% url "mylab.admin.user" user.pk %}">
        <icon class="fa fa-user"></icon> {% if fullname %}{{ user.full_name }}{% else %}{{ user.short_name }}{% endif %}
    </a>
{% else %}
    <a href="{% url 'tutors' %}#{{ user.code }}">
        <icon class="fa fa-info-circle"></icon> {% if fullname %}{{ user.full_name }}{% else %}{{ user.short_name }}{% endif %}
    </a>
{% endif %}