{% if exams|length > 0 %}
    <h3 class="pt-3">Exams</h3>
    <table class="table table-responsive">
        <thead>
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Examiner</th>
            <th>Labs</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
            <tr>
                <td>{{ exam.date|date:"d/m/Y H:i:s" }}</td>
                <td>
                    {% if admin %}
                        <a href="{% url "mylab.admin.user" exam.student.pk %}">
                            <icon class="fa fa-info-circle"></icon> {{ exam.student.short_name }}
                        </a>
                    {% else %}
                        <a href="mailto:{{ exam.student.email }}">
                            <icon class="fa fa-envelope"></icon> {{ exam.student.short_name }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if admin %}
                        <a href="{% url "mylab.admin.user" exam.examiner.pk %}">
                            <icon class="fa fa-info-circle"></icon> {{ exam.examiner.short_name }}
                        </a>
                    {% else %}
                        <a href="{% url 'examiners' %}#{{ exam.examiner.code }}">
                            <icon class="fa fa-info-circle"></icon> {{ exam.examiner.short_name }}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% for report in exam.reports.all %}
                        {% if report.filename is None %}
                            {{ report.appointment.experiment.code }}
                        {% else %}
                            <a href="{{ report.report_url }}" target="_blank">
                                <icon class="fa fa-file-pdf"></icon>
                                {{ report.appointment.experiment.code }}
                            </a>
                        {% endif %}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
{% endif %}