{% load user_link %}

<h3 class="pt-3">Upcoming labs</h3>
<table class="table table-responsive">
    <thead>
    <tr>
        {% if admin %}<th></th>{% endif %}
        <th>Date</th>
        <th>Experiment</th>
        <th>Students</th>
        <th>Tutor(s)</th>
        {% if labuser.is_tutor or admin %}
            <th></th>
            <th></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for date, appointments in schedule.items %}
        {% for appointment in appointments %}
            <tr>
                {% if admin %}<td>
                    <a href="{% url 'mylab.admin.appointment' appointment.pk %}">#{{ appointment.pk }}</a>
                </td>{% endif %}
                <td>
                    {% if forloop.first %}<strong>{{ date }}</strong>{% endif %}
                </td>
                <td>
                    <a href="{% url 'experiment' appointment.experiment.category|lower appointment.experiment.sub_code|lower %}">
                        <icon class="fa fa-lightbulb"></icon> {{ appointment.experiment.code }}
                    </a>
                </td>
                <td>
                    {% if appointment.students.all|length == 0 %}
                        -
                    {% else %}
                        {% user_link_list appointment.students.all admin %}
                    {% endif %}
                </td>
                <td>
                    {% tutor_link_list appointment.experiment.tutors.all admin %}
                </td>
                {% if labuser.is_tutor or admin %}
                    <td class="text-end" style="width: 20px;">
                        <a href="{% url "mylab.tutor.edit_appointment" appointment.pk %}" class="edit-button">
                            <icon class="fa fa-edit" title="Edit appointment"></icon>
                        </a>
                    </td>
                    <td class="text-end" style="width: 20px;">
                        <a href="{% url "mylab.tutor.remove_appointment" appointment.pk %}" class="delete-button">
                            <icon class="fa fa-minus-circle" title="Remove appointment"></icon>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% empty %}
        <tr>
            <td colspan="4">No lab appointments.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>