{% load summaries %}
{% load join_requests %}
{% load appointment_requests %}
{% load upcoming_exams %}
{% load upcoming_appointments %}
{% load previous_appointments %}
{% load pending_reports %}
{% load finished_reports %}
{% load history %}

{% if labuser.is_admin is None and admin or labuser.is_admin is True and not admin %}
    {% join_requests %}
{% endif %}

{% if labuser.is_student or labuser.is_tutor or admin %}
    {% appointment_requests labuser semester admin %}
{% endif %}

{% if labuser.is_student or labuser.is_examiner or admin %}
    {% upcoming_exams labuser semester admin %}
{% endif %}

{% if labuser.is_student or labuser.is_tutor or admin %}
    {% upcoming_appointments labuser semester admin %}

    {% if LABCOURSE.STUDENT.CAN_REQUEST_APPOINTMENT and labuser.is_student_now or labuser.is_tutor or admin %}
        <div class="d-flex justify-content-center">
            {% if LABCOURSE.STUDENT.CAN_REQUEST_APPOINTMENT and labuser.is_student_now %}
                <a class="btn btn-primary" href="{% url "mylab.student.appointment" %}">Request appointment</a>
            {% endif %}
            {% if labuser.is_tutor or admin %}
                <a class="btn btn-primary" href="{% url "mylab.tutor.add_appointment" %}">Add appointment</a>
            {% endif %}
        </div>
    {% endif %}
    <hr>
{% endif %}

{% if labuser.is_student or labuser.is_tutor or user.is_admin %}
    {% pending_reports labuser semester admin %}
{% endif %}

{% finished_reports labuser semester admin %}

{% if labuser.is_student %}
    {% student_summary labuser admin %}
{% endif %}

{% if labuser.was_tutor %}
    {% tutor_summary labuser admin %}
{% endif %}

{% if labuser.was_examiner %}
    {% examiner_summary labuser admin %}
{% endif %}

<h2 class="pt-5">History</h2>
{% history labuser.history admin %}