{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-2">
                    <h1>Login</h1>

                    {% if next %}
                        <div class="alert alert-info">
                            {% if user.is_authenticated %}
                                Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.
                            {% else %}
                                Please login to see this page.
                            {% endif %}
                        </div>
                    {% endif %}

                    <div style="text-align: center;" class="small mt-3">
                        Login with<br/>
                        <a href="{% url "openid_login" %}">
                            <img src="{% static 'img/gwdg.png' %}" width="150px"><br/>
                        </a>
                    </div>

                    {% if LABCOURSE.LOCAL_LOGIN %}
                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Or</p>
                        </div>

                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="email-addon"><i class="fa fa-at"></i></span>
                                <input type="text" name="username" id="email" class="form-control" placeholder="Username"
                                       aria-label="Email" aria-describedby="email-addon"/>
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="password-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" name="password" id="password" class="form-control"
                                       placeholder="Password"
                                       aria-label="Password" aria-describedby="password-addon"/>
                            </div>

                            <!-- Submit button -->
                            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        </form>

                        {% if form.errors %}
                            <div class="alert alert-danger">
                                Your username and password didn't match. Please try again.
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item active">Login</li>
{% endblock %}

{% block aside %}
{% endblock %}