{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Add exam</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Add exam</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Add an exam</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Exam successfully created.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>

    {% else %}
        <p>
            Here you can pick four of your labs and an examiner and create an exam appointment. Please make sure to
            confirm the date with your examiner <strong>before</strong> adding it here.
        </p>
        <hr>
        <form action="{% url "mylab.student.add_exam" labuser.username %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="mb-3 row">
                <label for="examiner" class="col-sm-3 col-form-label">Course:</label>
                <div class="col-sm-9">
                    {% render_field form.course class+="form-select" %}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    {% render_field form.date class+="form-control" %}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="examiner" class="col-sm-3 col-form-label">Examiner:</label>
                <div class="col-sm-9">
                    {% render_field form.examiner class+="form-select" %}
                </div>
            </div>

            <hr>

            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Labs:</label>
                <div class="col-sm-9">
                    {% for r in reports %}
                        <p>
                            <label>
                                <input type="checkbox" name="reports" value="{{ r.pk }}">
                                <strong>{{ r.appointment.experiment.code }} - {{ r.appointment.experiment.name }}</strong>
                            </label><br/>
                            <small>
                                <strong>Lab date:</strong> {{ r.appointment.date.date|date:"d/m/Y" }}<br>
                                <strong>Student(s):</strong>
                                {% for s in r.appointment.students.all %}
                                    {% if s == labuser %}
                                        <strong>{{ s.short_name }}</strong>
                                    {% else %}
                                        {{ s.short_name }}
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}<br>
                                <strong>Tutor:</strong> {{ r.tutor.full_name }}<br>
                                <strong>Accepted:</strong> {{ r.date|date:"d/m/Y" }}<br>
                                <strong>Report:</strong>
                                {% if r.filename is None %}
                                    None
                                {% else %}
                                    <a href="{{ r.report_url }}" target="_blank">{{ r.filename }}</a>
                                {% endif %}
                            </small>
                        </p>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div {% if not user.is_admin %}class="invisible"{% endif %}>
                <div class="mb-3 row">
                    <div class="col-sm-9 offset-md-3">
                        {% render_field form.send_email %}
                        <label for="{{ form.send_email.id_for_label }}">{{ form.send_email.label }}</label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Add exam</button>
            </div>

        </form>
    {% endif %}
{% endblock %}
