{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.student.appointment" %}">Request appointment</a></li>
    <li class="breadcrumb-item active">{{ experiment.code}}</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.student.appointment" %}">Request appointment</a></li>
    <li class="breadcrumb-item active">{{ experiment.code}}</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Request a lab appointment</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Appointment request successfully processed.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th colspan="2">New appointment request</th>
                </tr>
                <tr>
                    <th>Experiment:</th>
                    <td>{% experiment_link app_request.experiment True %}</td>
                </tr>
                <tr>
                    <th>Tutor(s):</th>
                    <td>{% tutor_link_list app_request.experiment.tutors.all fullname=True %}
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ app_request.date.date|date:"l, j F Y" }}</td>
                </tr>
                <tr>
                    <th>Lab partner(s):</th>
                    <td>{% user_link_list app_request.partners.all fullname=True %}</td>
                </tr>
                <tr>
                    <th>Comment:</th>
                    <td>{% if app_request.comment %}{{ app_request.comment }}{% else %}None{% endif %}</td>
                </tr>
            </table>
        </div>

    {% else %}

        <p>
            Here you can request an appointment for a lab for a given <strong>experiment</strong>. Please select a
            <strong>date</strong> on which you would like to take the lab. Then you can select a
            <strong>lab partner</strong>, with whom you would like to work together. Please note that this student still
            has to <strong>request an appointment by themself</strong>.
        </p>
        <p>
            You can also select no lab partner. In that case the tutor of the experiment will try to pair you with other
            students or let you take the lab alone, but it is not guaranteed that this will work.
        </p>
        <p>
            In some circumstances you might want to take the lab in a group of three. In that case you can select
            a <strong>second lab partner</strong>. Please not that this will only be granted in justified cases!
        </p>
        <p>
            After requesting your appointment, the tutor of the experiment will review the request and inform you, whether
            it is granted or rejected.
        </p>
        <hr>
        <form action="{% url "mylab.student.appointment.experiment" experiment.code %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label"><strong>Experiment:</strong></label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{{ experiment.code }} - {{ experiment.name }}">
                </div>
            </div>
            <hr>

            {% if dates|length == 0 %}
                <div class="mb-3 alert-warning p-4 text-center">
                    There are no more free time slots for this semester. Please contact the tutor of the lab
                    directly via email for an appointment.
                </div>
            {% else %}
                <div class="mb-3 row">
                    <label for="{{ form.date.id_for_label }}" class="col-sm-3 col-form-label"><strong>Date:</strong></label>
                    <div class="col-sm-9">
                        {% render_field form.date class+="form-select" %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="{{ form.partner1.id_for_label }}" class="col-sm-3 col-form-label">Lab partner:</label>
                    <div class="col-sm-9">
                        {% render_field form.partner1 class+="form-select" %}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="{{ form.partner2.id_for_label }}" class="col-sm-3 col-form-label">(Lab partner 2):</label>
                    <div class="col-sm-9">
                        {% render_field form.partner2 class+="form-select" %}
                    </div>
                </div>
                <hr>
                <div class="mb-3 row">
                    <label for="{{ form.comment.id_for_label }}" class="col-sm-3 col-form-label">Comment:</label>
                    <div class="col-sm-9">
                        {% render_field form.comment class+="form-control" %}
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Request appointment</button>
                </div>
            {% endif %}

        </form>

    {% endif %}
{% endblock %}
