{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Request appointment</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Request appointment</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Request a lab appointment</h3>
    <p>Please select a experiment to request an appointment for.</p>
    {% for cat in categories %}
        <div style="background-color: {{ cat.color }}">
            <h4>{{ cat.code }} - {{ cat.name }}</h4>
            <ul>
                {% for exp in cat.active_experiments %}
                    <li>
                        <a href="{% url "mylab.student.appointment.experiment" exp.code|lower %}">
                            {{ exp.code }} - {{ exp.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

{% endblock %}
