{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Help</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Help</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>

    <h3>Help</h3>

    <div class="row">
        <div class="col-4"><strong>Logging in and out</strong></div>
        <div class="col-8 help-text">
            <p>
                If you've made it this far, you've probably already figured out, how to log in. But just to make
                sure: on the right hand side of the page, you should see this:
            </p>
            <img src="/media/help/login_button.png" alt="Login button">
            <p>
                Clicking on that button will take you to the login page of the Academic Cloud, which you know from
                many other services hosted by the GWDG.
            </p>
            <p>
                After logging in with your usual university credentials, the login button from the beginning should
                have changed to something like this (with your name of course):
            </p>
            <img src="/media/help/logout_button.png" alt="Logout button">
            <p>
                Just click this button to log out again.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>My Lab page</strong></div>
        <div class="col-8 help-text">
            <p>
                Even when not logged in, you see a link to the "My Lab" page in the navigation panel:
            </p>
            <img src="/media/help/mylab_nav.png" alt="My Lab in nav bar">
            <p>
                However, the page that you will see when clicking that link will be a little different, compared
                to what you get when you're not logged in.
            </p>
            <p>
                Below the button for logging out, you should see some links for students:
            </p>
            <img src="/media/help/mylab_student.png" alt="Student links in My Lab">
            <p>
                <strong>If you do not see the link to request an appointment, you have to join the ALC for the current
                    semester, see below for details.</strong>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Join the lab course</strong></div>
        <div class="col-8 help-text">
            <p>
                When you are new to the lab course, your MyLab page will look like this:
            </p>
            <img src="/media/help/mylab_join.png" alt="Join link on MyLab page">
            <p>
                Clicking this button will take you to another page:
            </p>
            <img src="/media/help/join_lab.png" alt="Join lab course">
            <p>
                Here you will be informed, for which semester you can join the lab course (which is always the current
                one) and confirm your request. After you have done that, the organizer will grant you access within
                a couple of days.
            </p>
            <p>
                Note that you will only be able to join the lab course, if the organizer has a filled and signed
                safety form from you!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Request lab appointment</strong></div>
        <div class="col-8 help-text">
            <p>
                Once you have joined the lab course, you can request appointments for labs. To do so, either click
                the big "Request appointment" button on the MyLab page, or use the link in the sidebar on the right.
                This will take you to a list of lab categories, and, after selecting one, a list of experiments in
                each. Pick one and you will see a form for an appointment request:
            </p>
            <img src="/media/help/request_appointment.png" alt="Request an appointment">
            <p>
                Here you first have to select a date for the lab. Available in the list are all Wednesdays in the
                current semester. Note that you can do labs on other days or after the end of the lecture period, but
                this should be the exception. Please contact the tutor of the lab you want to do via email to
                discuss details.
            </p>
            <p>
                You can also select up to two lab partners from a list of students that have joined for the current
                semester. Note that this is just a suggestion for the tutor and your lab partners have to also request
                the appointment by themselves. Finally, you can add a comment for the tutor.
            </p>
            <p>
                Now your request will show up on your MyLab page:
            </p>
            <img src="/media/help/student_appointment_requests.png" alt="Appointment requests">
            <p>
                By clicking on the black circle with the minus sign you can delete a request. You will be informed,
                when the tutor accepted or rejected your request. It will also show up on your MyLab page:
            </p>
            <img src="/media/help/student_upcoming_labs.png" alt="Upcoming labs">
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Lab reports</strong></div>
        <div class="col-8 help-text">
            <p>
                On the day of the lab it will be automatically closed on the ALC homepage and you will see it in your
                list of pending reports:
            </p>
            <img src="/media/help/student_pending_reports.png" alt="Pending reports">
            <p>
                It will stay there until you produced a lab report that the tutor accepted. After that, it will be
                moved to the list of finished reports:
            </p>
            <img src="/media/help/student_finished_reports.png" alt="Finished reports">
            <p>
                At any time you can upload a new version of your report to the ALC homepage by clicking on the
                green arrow, which will take you to an upload form:
            </p>
            <img src="/media/help/student_upload_report.png" alt="Upload reports">
            <p>
                Click the "Datei auswählen" (English: "Select file") button and select the PDF file on your computer
                containing the lab report. Then click on "Upload report" to actually upload it to the ALC homepage.
            </p>
        </div>

    <div class="row">
        <div class="col-4"><strong>Exams</strong></div>
        <div class="col-8 help-text">
            <p>
                As soon as you have four finished reports, a button for creating an exam will appear (see above).
                When this is the case, you can find a suitable examiner (see list of examiners) and contact them
                to make an appointment for the exam. Only <strong>after this</strong> you should click the "Add
                exam" button, which will take you to this page:
            </p>
            <img src="/media/help/student_add_exam.png" alt="Add exam">
            <p>
                Here you can enter the date and time of the exam, the examiner, and select exactly four of your
                finished reports that you want to have examined. After that, click "Add exam" to create it.
            </p>
        </div>
    </div>
{% endblock %}
