{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Request join</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Request join</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Join the lab course</h3>

    {% if success and success is True %}

        <div class="alert alert-success">You will be informed when your join request has been approved.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>

    {% else %}
        <p>
            Here you can request to join the Advanced Lab Course for the {{ semester }}. You only need to join if
            you want to do labs in this semester. An admin will have to approve your request, before you will have
            access to your personal "My Lab" area, which you use to organize your labs.
        </p>

        <form action="{% url "mylab.student.request_join" %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="text-center">
                <button type="submit" class="btn btn-success">Join the lab course for {{ semester }}</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
