{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load report_versions %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Upload report</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Student</a></li>
    <li class="breadcrumb-item active">Upload report</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Upload report</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Report successfully uploaded.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th colspan="2">Report uploaded</th>
                </tr>
                <tr>
                    <th>Experiment:</th>
                    <td>{% experiment_link report.appointment.experiment True %}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ report.appointment.date.date|date:"l, j F Y" }}</td>
                </tr>
                <tr>
                    <th>Version:</th>
                    <td>{{ report.latest.version }}</td>
                </tr>
                <tr>
                    <th>File:</th>
                    <td><a href="{{ report.latest.report_url }}" target="_blank">
                        <icon class="fa fa-file-pdf"></icon>
                        v{{ report.latest.version }} ({{ report.latest.date|date:"d/m/Y" }})
                    </a></td>
                </tr>
            </table>
        </div>

    {% else %}
        <p>
            Here you can upload your report for the given lab. Only PDFs are accepted!
        </p>
        <hr>
        <form action="{% url "mylab.student.upload_report" report.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{{ report.appointment.experiment.code }} - {{ report.appointment.experiment.name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="date"
                           value="{{ report.appointment.date.date }}">
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <div class="col-sm-3 col-form-label">Previous versions:</div>
                <div class="col-sm-9">
                    {% report_versions report %}
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="{{ form.report.id_for_label }}" class="col-sm-3 col-form-label">Report:</label>
                <div class="col-sm-9">
                    {% render_field form.report class+="form-control" accept=".pdf" %}
                    {% for error in form.report.errors %}
                        <div class="alert alert-danger m-2">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Upload report</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
