{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Contact</h2>

<p>
    For questions about the instructions, procedures or contents for single experiments or for arranging a date
    for the experiment, please contact the responsible <strong>tutor</strong>.
</p>

<p>
    For questions about grading or inspection of your accepted reports, please contact the responsible
    <strong>examiner</strong> up to four weeks after the end of the semester. Please pay attention to the
    office hours, if given.
</p>

<p>
    If you have acquired equivalent credits at another University or abroad, please contact the <strong>Dean of
    Studies</strong>.
</p>

<div class="alert alert-info small" role="alert">
    <p>
        For all questions, suggestions, and comments about the organisation, the general procedure, evaluation, quality
        assurance, and web presence of the Advanced Lab Course, please contact the organizer:
    </p>
    <div class="row">
        <div class="col-sm-4">
            Dr. Tim-Oliver Husser<br/>
            <a href="mailto:thusser@uni-goettingen.de">thusser@uni-goettingen.de</a>
        </div>
        <div class="col-sm-5">
            Institut für Astrophysik und Geophysik<br/>
            Friedrich-Hund-Platz 1
        </div>
        <div class="col-sm-3">
            Room F04.133<br/>
            Phone 39 25057
        </div>
    </div>

    {% endblock %}

    {% block breadcrumb %}
    <li class="breadcrumb-item active">Contact</li>
    {% endblock %}

    {% block breadcrumb-mobile %}
    <li class="breadcrumb-item active">Contact</li>
    {% endblock %}

    {% block aside %}
    {% endblock %}
</div>