{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Downloads</h2>

<h3>Forms and information sheets</h3>
<ul class="list-unstyled lab-list">
    <li><a href="/media/Introduction_ALC_WiSe2023.pdf" target="_blank">Slides of the introductory meeting WiSe 2023 (pdf File, 574k)</a></li>
    <li><a href="/media/Merkblatt_Sicherheit_MFP.pdf" title="Please read carefully" target="_blank">General information on Lab safety (in German, pdf File, 58k)</a></li>
    <li><a href="/media/Laserschutz_MFP.pdf" title="Please read carefully" target="_blank">Information on laser safety (in German, pdf File, 1.7M)</a></li>
    <li><a href="/media/Kenntnisnahme_Sicherheitshinweise_MFP.pdf" title="signature required" target="_blank">Confirmation of participation in safety briefing (pdf File, 34k)</a></li>
    <li><a href="/media/Examination_Form.pdf" title="required document" target="_blank">Examination form (pdf File, 133k)</a></li>
    <li><a href="/media/Lab_Record.pdf" target="_blank" title="required as accompanying sheet for each Lab report">Lab record (pdf File, 129k)</a></li>
    <li><a href="/media/MFP_Evaluationsbogen_2014.pdf" target="_blank" title="Evaluation forrm">Evaluation form (2014) (pdf File, 60k)</a></li>
</ul>

<h3>LaTeX/Libreoffice/Word templates</h3>
<ul class="list-unstyled lab-list">
    <li><a href="/media/MFP_LaTeX_JG.zip" target="_blank">LaTeX template (Jan Grieb) (zip File, 7.6k)</a></li>
    <li><a href="/media/MFP_LaTeX_MD.zip" target="_blank">LaTeX template (Martin Deutges) (zip File, 4.2k)</a></li>
    <li><a href="/media/Vorlage_Version2.odt" target="_blank">Libreoffice template for report including cover sheet (odt File, 10.9k)</a></li>
</ul>

<h3>Lab instructions</h3>
<p>Lab instructions can be found on the <a href="/experiments/">experiments page</a>.</p>

{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Downloads</li>
{% endblock %}

{% block breadcrumb-mobile %}
<li class="breadcrumb-item active">Downloads</li>
{% endblock %}

{% block aside %}
{% endblock %}