{% extends "base.html" %}
{% load static %}
{% load email_extras %}

{% block content %}
<h2>Examiners</h2>

<ul class="list-unstyled people-list">
    {% for u in examiners %}
    <li class="list-item small">
        <span class="list-anchor" id="{{ u.code }}"></span>
        <div class="row">
            <div class="col-5">
                <strong>{{ u.full_name }}</strong><br/>
                {{ u.email|email:request.user }}
            </div>
            <div class="col-4">
                {{ u.institute }}<br/>
                {% if u.address %}{{ u.address}}{% endif %}
            </div>
            <div class="col-3">
                {% if u.room %}Room {{ u.room }}{% endif %}<br/>
                {% if u.phone %}Phone {{ u.phone}}{% endif %}
            </div>
        </div>
        <div class="row">
            <div class="offset-5 col-7">
                <strong>Labs:</strong>
                {% for lab in u.examiner_experiments_all %}
                    <a href="{%url 'experiment' lab.category|lower lab.sub_code|lower %}" style="color: {%  if lab.active %}black{% else %}grey{% endif %}">
                        {{ lab.code }}{% if not forloop.last %}, {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
        {% if u.comment %}
            <div class="row">
                <div class="col-12">
                    {{ u.comment|safe }}
                </div>
            </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>

<script>
    $(document).ready(function() {
        let el = $(location.hash).parent();
        el.attr("style", "background-color: #FFA733 !important");
    });
</script>

{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Tutors</li>
{% endblock %}

{% block breadcrumb-mobile %}
<li class="breadcrumb-item active">Tutors</li>
{% endblock %}

{% block aside %}
{% endblock %}