{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block content %}
<h2>Experiments</h2>

<ul class="list-unstyled row lab-list">
    {% for cat in categories %}
    <li class="list-item col-sm-6" style="background-color: {{ cat.color }}">
        <a href="{% url 'category' cat.code|lower %}" style="color: black">{{ cat.code }} - {{ cat.name }}</a>
    </li>
    {% endfor %}
</ul>

{% if experiments %}
<h3>{{ category.code }} - {{ category.name }}</h3>
<ul class="list-unstyled row lab-list" style="background-color: {{ category.color }}">
    {% for exp in experiments %}
    <li class="list-item col-sm-6 text-truncate">
        <a href="{% url 'experiment' exp.category|lower exp.sub_code|lower %}"
           style="color: {% if exp.active %}black{% else %}grey{% endif %}">
            {{ exp.code }} - {{ exp.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if experiment %}
<h4>{{ experiment.code }} - {{ experiment.name }}</h4>
{% if not experiment.active %}
    <div class="alert alert-danger">This experiment is currently not available.</div>
{% else %}
    {% if experiment.comment %}
        <div class="alert alert-info">{{ experiment.comment }}</div>
    {% endif %}
{% endif %}
{{ experiment.desc | markdown | safe }}

<div style="background-color: {{ category.color }}; padding: 10px; font-size: medium;">
    <div class="row">
        <div class="col-2">
            <strong>Tutor(s):</strong>
        </div>
        <div class="col-5">
            {% for u in experiment.tutors.all %}
            <a href="{% url 'tutors' %}#{{ u.code }}">
                {{ u.short_name}}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="col-2">
            <strong>Instructions:</strong>
        </div>
        <div class="col-3">
            {% if user.is_authenticated %}
                {% if experiment.instructions_url %}
                    <a href="{{ experiment.instructions_url }}" target="_blank">
                        <icon class="fa fa-file-pdf"></icon>
                        {{ experiment.code|lower }}.pdf
                    </a>
                {% else %}
                    None
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">Please log in.</a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <strong>Examiner(s):</strong>
        </div>
        <div class="col-5">
            {% for u in experiment.examiners.all %}
            <a href="{% url 'examiners' %}#{{ u.code }}">
                {{ u.short_name}}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </div>
        <div class="col-2"></div>
        <div class="col-3 smaller">
            {% if user.is_authenticated and experiment.latest_instructions %}
                {% with instr=experiment.latest_instructions %}
                    v{{ instr.version }} ({{ instr.date|date:"Y/m/d" }}), {{ instr.filesize_kib }} KiB
                {% endwith %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <strong>Location:</strong>
        </div>
        <div class="col-5">
            {{ experiment.institute }}, {{ experiment.room }}
        </div>
        <div class="col-2">
            <strong>Languages:</strong>
        </div>
        <div class="col-3">
            {{ experiment.language }}
        </div>
    </div>
</div>
{% endif %}

{% if experiment and user.is_authenticated and experiment.active %}
    {% if LABCOURSE.STUDENT.CAN_REQUEST_APPOINTMENT and user.is_student_now or user.is_admin %}
        <div class="d-flex justify-content-center m-3">
            <a class="btn btn-lg btn-success" href="{% url "mylab.student.appointment.experiment" experiment.code|lower %}">
                Request appointment for this experiment
            </a>
        </div>
    {% endif %}

    {% if dates|length > 0 %}
        <div class="table-responsive">
            <table class="table table-very-sm table-bordered">
                <tr class="border-0">
                    <th colspan="{{ dates|length }}" class="text-center border-0">
                        Availability in {{ semester }}
                    </th>
                </tr>
                <tr>
                    {% for date, blocked in dates.items %}
                        <td class="text-center {% if blocked %}bg-danger{% else %}bg-success{% endif %}">
                            {{ date.date|date:'d.m.' }}&nbsp;</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    {% endif %}

    {% if LABCOURSE.STUDENT.CAN_REQUEST_APPOINTMENT and user.is_student_now or user.is_admin or is_tutor %}
        <h3 class="text-center">Partner search</h3>
        <table class="table table-sm table-bordered">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Email address</th>
            </tr>
            {% for ps in partner_searches %}
                <tr>
                    <td>{{ ps.user.full_name }}</td>
                    <td><a href="mailto:{{ ps.user.email }}">{{ ps.user.email }}</a></td>
                </tr>
            {% empty %}
                <tr><td colspan="2" class="text-center">No students looking for a partner this semester.</td></tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="text-center">
                    <form method="post">
                        {% csrf_token %}
                        {% if student_searching %}
                            <button name="del_partner_search" class="button btn-sm btn-danger">
                                <icon class="fa fa-minus-circle"></icon> Remove myself from list
                            </button>
                        {% else %}
                            <button name="add_partner_search" class="button btn-sm btn-success">
                                <icon class="fa fa-plus-circle"></icon> Add myself to list
                            </button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        </table>
    {% endif %}
{% endif %}

{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Experiments</li>
{% endblock %}

{% block breadcrumb-mobile %}
<li class="breadcrumb-item active">Experiments</li>
{% endblock %}

{% block aside %}
{% if experiment %}
<img src="{{ experiment.image_url }}" alt="{{ experiment.code }}" width="100%">
{% endif %}
{% endblock %}