{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}
<h2>General information</h2>

<div class="accordion" id="accordion">
    {% for topic in topics %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ forloop.counter }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ forloop.counter }}"
                    aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                {{ topic.title }}
            </button>
        </h2>
        <div id="collapse-{{ forloop.counter }}"
             class="accordion-collapse collapse {% if forloop.counter == 1 %}show{% endif %}"
             aria-labelledby="heading-{{ forloop.counter }}"
             data-bs-parent="#accordion">
            <div class="accordion-body">
                {{ topic.body | markdown | safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">General Information</li>
{% endblock %}

{% block breadcrumb-mobile %}
<li class="breadcrumb-item active">General Information</li>
{% endblock %}


{% block aside %}
{% endblock %}