{% extends "base.html" %}
{% load content_extras %}

{% block content %}
    <h2>Advanced Lab Course</h2>

    <div class="alert alert-danger mt-4" role="alert">
        {% content "HOME_ALERT" %}
    </div>

    <p>
        The <strong>Advanced Lab Course ("Master-Forschungspraktikum")</strong> will be offered every semester starting
        in
        WiSe 2014/15. It is divided into two modules. Module 1 (M.Phy.1401) is a compulsory course and is usually
        completed
        in the first semester of the Master's program. Module 2 (M.Phy.1402) is an elective course and is usually taken
        in
        the second semester of the master's program. Each of the modules requires the successful completion of four
        experiments (without focus commitment), takes 6 semester hours and counts 6 credit points after passing.
    </p>
    <p>Experiments from the following research areas are offered in the lab:</p>

    <div class="row rt-ag p-2">
        <div class="col-sm-6">
            <strong>Astro and Geophysics</strong>
        </div>
        <div class="col-sm-6">
            <a href="http://www.astro.physik.uni-goettingen.de" target="_blank">
                Institut f&uuml;r Astrophysik und Geophysik
            </a>
        </div>
    </div>
    <div class="row rt-bk p-2">
        <div class="col-sm-6">
            <strong>Biophysics and physics of complex systems</strong>
        </div>
        <div class="col-sm-6">
            <a href="http://www.dpi.physik.uni-goettingen.de" target="_blank">
                Drittes Physikalisches Institut
            </a><br/>
            <a href="http://www.roentgen.physik.uni-goettingen.de" target="_blank">
                Institut f&uuml;r R&ouml;ntgenphysik
            </a><br/>
            <a href="http://www.mpibpc.mpg.de" target="_blank">
                MPI f&uuml;r Biophysikalische Chemie
            </a><br/>
            <a href="http://www.ds.mpg.de" target="_blank">
                MPI f&uuml;r Dynamik und Selbstorganisation
            </a>
        </div>
    </div>
    <div class="row rt-fm p-2">
        <div class="col-sm-6">
            <strong>Solid-state and material physics</strong>
        </div>
        <div class="col-sm-6">
            <a href="http://www.uni-goettingen.de/de/sh/39787.html" target="_blank">
                Erstes Physikalisches Institut
            </a><br/>
            <a href="http://www.ph4.physik.uni-goettingen.de/" target="_blank">
                Viertes Physikalisches Institut
            </a><br/>
            <a href="http://www.material.physik.uni-goettingen.de/" target="_blank">
                Institut f&uuml;r Materialphysik
            </a>
        </div>
    </div>
    <div class="row rt-kt p-2">
        <div class="col-sm-6">
            <strong>Nuclear and particle physics</strong>
        </div>
        <div class="col-sm-6">
            <a href="http://physik2.uni-goettingen.de" target="_blank">
                Zweites Physikalisches Institut
            </a>
        </div>
    </div>

    <p class="mt-4">
        Module 2 (M.Phy.1402) can be replaced by other achievements (e.g. the electronics lab). More detailed
        information
        can be found in the current examination regulations.
    </p>

    <div class="row">
        <div class="col-sm-3"><strong>Time:</strong></div>
        <div class="col-sm-9">
            usually <strong>Wednesday</strong>, 09:00-17:00<br/>
            (Exceptions for special labs, lab blocks in the vacations or by arrangement)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"><strong>Location:</strong></div>
        <div class="col-sm-9">
            see lab descriptions
        </div>
    </div>

{% endblock %}

{% block aside %}
{% endblock %}