{% extends "base.html" %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Lab evaluation</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item active">Lab evaluation</li>
{% endblock %}

{% block content %}
<h2>Lab evaluation</h2>

{% if success and success is True %}

    <div class="alert alert-success">Lab evaluation successfully processed.</div>
    <div class="text-center">
        <a href="{% url "home" %}" class="btn btn-primary">Back to home</a>
    </div>

{% else %}
    <form action="{% url "labeval" form.eval_request.uuid %}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <hr>

        <p><small>
            This is an evaluation of a lab you recently finished in the Advanced Lab Course. It is <strong>completely
            anonymous</strong>, only what you see on this page will be stored. Please provide a <strong>faithful
            judgement</strong> for your experience, which will be used to improve the individual lab and the lab course
            in general.
        </small></p>

        <hr>

        <div class="mb-3 row">
            <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
            <div class="col-sm-9">
                <span id="experiment">{% experiment_link form.eval_request.experiment True %}</span>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="semester" class="col-sm-3 col-form-label">Semester:</label>
            <div class="col-sm-9">
                <span id="semester">{{ form.eval_request.semester }}</span>
            </div>
        </div>

        <hr>

        <p><small>
            Please provide an estimate on how long you worked on the lab, both the time you spent with the actual
            experiment (1) as well as the time for the data analysis and for writing the report (2).
        </small></p>

        <div class="mb-4 row">
            <label for="duration_lab" class="col-sm-4 col-form-label">(1) Duration of lab:<sup>*</sup></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" id="duration_lab" name="duration_lab" required>
                    <span class="input-group-text"> hours</span>
                </div>
            </div>
        </div>
        <div class="mb-4 row">
            <label for="duration_report" class="col-sm-4 col-form-label">(2) Time for report:<sup>*</sup></label>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="number" class="form-control" id="duration_lab" name="duration_report" required>
                    <span class="input-group-text"> hours</span>
                </div>
            </div>
        </div>

        <hr>

        <p><small>
            Please rate the the instructions manual for the lab (3) as well as the lab setup and execution (4)
            with stars from 1 (poor) to 5 (great).
        </small></p>

        <div class="mb-4 row">
            <label for="grade_instructions" class="col-sm-4 col-form-label">(3) Instructions:<sup>*</sup></label>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" name="grade_instructions" value="5" id="instructions_5" required><label for="instructions_5">☆</label>
                    <input type="radio" name="grade_instructions" value="4" id="instructions_4"><label for="instructions_4">☆</label>
                    <input type="radio" name="grade_instructions" value="3" id="instructions_3"><label for="instructions_3">☆</label>
                    <input type="radio" name="grade_instructions" value="2" id="instructions_2"><label for="instructions_2">☆</label>
                    <input type="radio" name="grade_instructions" value="1" id="instructions_1"><label for="instructions_1">☆</label>
                </fieldset>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="grade_setup" class="col-sm-4 col-form-label">(4) Setup and Execution:<sup>*</sup></label>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" name="grade_setup" value="5" id="setup_5" required><label for="setup_5">☆</label>
                    <input type="radio" name="grade_setup" value="4" id="setup_4"><label for="setup_4">☆</label>
                    <input type="radio" name="grade_setup" value="3" id="setup_3"><label for="setup_3">☆</label>
                    <input type="radio" name="grade_setup" value="2" id="setup_2"><label for="setup_2">☆</label>
                    <input type="radio" name="grade_setup" value="1" id="setup_1"><label for="setup_1">☆</label>
                </fieldset>
            </div>
        </div>

        <hr>

        <p><small>
            Please try to estimate whether you learned something in the lab (5) and whether it was interesting (6).
        </small></p>

        <div class="mb-4 row">
            <label for="grade_learned" class="col-sm-4 col-form-label">(5) I learned something:<sup>*</sup></label>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" name="grade_learned" value="5" id="learned_5" required><label for="learned_5">☆</label>
                    <input type="radio" name="grade_learned" value="4" id="learned_4"><label for="learned_4">☆</label>
                    <input type="radio" name="grade_learned" value="3" id="learned_3"><label for="learned_3">☆</label>
                    <input type="radio" name="grade_learned" value="2" id="learned_2"><label for="learned_2">☆</label>
                    <input type="radio" name="grade_learned" value="1" id="learned_1"><label for="learned_1">☆</label>
                </fieldset>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="grade_interesting" class="col-sm-4 col-form-label">(6) It was interesting:<sup>*</sup></label>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" name="grade_interesting" value="5" id="interesting_5" required><label for="interesting_5">☆</label>
                    <input type="radio" name="grade_interesting" value="4" id="interesting_4"><label for="interesting_4">☆</label>
                    <input type="radio" name="grade_interesting" value="3" id="interesting_3"><label for="interesting_3">☆</label>
                    <input type="radio" name="grade_interesting" value="2" id="interesting_2"><label for="interesting_2">☆</label>
                    <input type="radio" name="grade_interesting" value="1" id="interesting_1"><label for="interesting_1">☆</label>
                </fieldset>
            </div>
        </div>

        <hr>

        <p><small>
            Finally, please give an overall rating (7) for the lab. You might optionally also provide a comment (8).
        </small></p>

        <div class="mb-4 row">
            <label for="grade_overall" class="col-sm-4 col-form-label">(7) Overall:<sup>*</sup></label>
            <div class="col-sm-8">
                <fieldset class="rating">
                    <input type="radio" name="grade_overall" value="5" id="overall_5" required><label for="overall_5">☆</label>
                    <input type="radio" name="grade_overall" value="4" id="overall_4"><label for="overall_4">☆</label>
                    <input type="radio" name="grade_overall" value="3" id="overall_3"><label for="overall_3">☆</label>
                    <input type="radio" name="grade_overall" value="2" id="overall_2"><label for="overall_2">☆</label>
                    <input type="radio" name="grade_overall" value="1" id="overall_1"><label for="overall_1">☆</label>
                </fieldset>
            </div>
        </div>

        <div class="mb-4 row">
            <label for="{{ form.comments.id_for_label }}" class="col-sm-4 col-form-label">(8) Comments:</label>
            <div class="col-sm-8">
                <textarea name="comments" maxlength="1000" rows="5" class="form-control"></textarea>
            </div>
        </div>

        <hr>

        <small><sup>*</sup>: Required</small>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Send evaluation</button>
        </div>

    </form>
{% endif %}

{% endblock %}
