{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Examiner</a></li>
    <li class="breadcrumb-item active">Close exam</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Examiner</a></li>
    <li class="breadcrumb-item active">Close exam</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Close exam</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Exam successfully closed.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>

    {% else %}
        <p>
            Here you can accept close an exam and set the result to either passed or failed.
        </p>
        <hr>
        <form action="{% url "mylab.examiner.close_exam" exam.pk %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="date"
                           value="{{ exam.date|date:"d/m/Y" }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="student" class="col-sm-3 col-form-label">Student:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="student"
                           value="{{ exam.student.full_name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="tutor" class="col-sm-3 col-form-label">Examiner:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="tutor"
                           value="{{ exam.examiner.full_name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiments:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{% for report in exam.reports.all %}{{ report.appointment.experiment.code }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="{{ form.passed.id_for_label }}" class="col-sm-3 col-form-label">Passed:</label>
                <div class="col-sm-9">
                    {% render_field form.passed class+="form-select" %}
                </div>
            </div>
            <hr>
            <div {% if not user.is_admin %}class="invisible"{% endif %}>
                <div class="mb-3 row">
                    <div class="col-sm-9 offset-md-3">
                        {% render_field form.send_email %}
                        <label for="{{ form.send_email.id_for_label }}">{{ form.send_email.label }}</label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Close exam</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
