{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Examiner</a></li>
    <li class="breadcrumb-item active">Help</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Examiner</a></li>
    <li class="breadcrumb-item active">Help</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Help</h3>

    <div class="row">
        <div class="col-4"><strong>Logging in and out</strong></div>
        <div class="col-8 help-text">
            <p>
                If you've made it this far, you've probably already figured out, how to log in. But just to make
                sure: on the right hand side of the page, you should see this:
            </p>
            <img src="/media/help/login_button.png" alt="Login button">
            <p>
                Clicking on that button will take you to the login page of the Academic Cloud, which you know from
                many other services hosted by the GWDG.
            </p>
            <p>
                After logging in with your usual university credentials, the login button from the beginning should
                have changed to something like this (with your name of course):
            </p>
            <img src="/media/help/logout_button.png" alt="Logout button">
            <p>
                Just click this button to log out again.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>My Lab page</strong></div>
        <div class="col-8 help-text">
            <p>
                Even when not logged in, you see a link to the "My Lab" page in the navigation panel:
            </p>
            <img src="/media/help/mylab_nav.png" alt="My Lab in nav bar">
            <p>
                However, the page that you will see when clicking that link will be a little different, compared
                to what you get when you're not logged in.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Scheduling exams</strong></div>
        <div class="col-8 help-text">
            <p>
                The students will have to pass an exam for each four labs that they do. After they have accepted
                reports for those four labs, they are supposed to find a suitable examiner by themselves, so they
                might contact you by email to find a date. Here on the ALC website they have to enter the date and
                the examiner, after which you, the examiner, will the the exam on your MyLab page:
            </p>
            <img src="/media/help/examiner_list_exams.png" alt="List of exams">
            <p>
                This list will show you all your exams with date, name of student, and the list of four labs they
                want to be examined about. Note that the students have to upload their reports, and so the lab
                codes are actually links to their reports. This way, you don't have to ask for them via email.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Close an exam</strong></div>
        <div class="col-8 help-text">
            <p>
                After the exam has finished, you should click on the green arrow in the appropriate row. This takes
                you to a new page for closing the exam:
            </p>
            <img src="/media/help/examiner_close_exam.png" alt="Close an exam">
            <p>
                All you have to do here is to select whether the student has passed the exam or not and then click
                on "Close exam". Do not forget to also set the grade in FlexNow!
            </p>
        </div>
    </div>
{% endblock %}
