{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="text-center display-1"><icon class="fa fa-sad-tear"></icon> 404</h1>
    <h2 class="text-center">Page not found</h2>
    <p class="text-center">Unfortunately we were not able to find the page you were looking for.</p>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">404</li>
{% endblock %}

{% block breadcrumb-mobile %}
<li class="breadcrumb-item active">404</li>
{% endblock %}