{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="text-center display-1"><icon class="fa fa-dizzy"></icon> 500</h1>
    <h2 class="text-center">Internal server error</h2>
    <p class="text-center">Unfortunately something went very wrong. If this error persists, please contact the administrator.</p>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">500</li>
{% endblock %}

{% block breadcrumb-mobile %}
<li class="breadcrumb-item active">500</li>
{% endblock %}