{% load static %}
{% load version %}
<!DOCTYPE html>
<html dir="ltr" lang="de" style="background: #fff;">

<head>
    <title>Advanced Lab Course in Physics - Georg-August-Universit&auml;t G&ouml;ttingen</title>
    <!-- meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <!-- OffCanvas Sidebar -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- Offcanvas Sidebar Ende -->

    <meta name="description" content="Webseiten der Georg-August-Universit&auml;t G&ouml;ttingen">
    <meta name="DC.description" content="Webseiten der Georg-August-Universit&auml;t G&ouml;ttingen">
    <meta name="author" content="Georg-August-Universit&auml;t G&ouml;ttingen - &Ouml;ffentlichkeitsarbeit">
    <meta name="DC.creator" content="Georg-August-Universit&auml;t G&ouml;ttingen - &Ouml;ffentlichkeitsarbeit">
    <meta name="generator" content="G&ouml;ttinger Content Management System (GCMS)">
    <meta name="geo.region" content="DE-NI"/>
    <meta name="geo.placename" content="G&ouml;ttingen"/>
    <meta name="geo.position" content="51.534063;9.937966"/>
    <meta name="ICBM" content="51.534063, 9.937966"/>

    <!-- icons and theme colors for various OS -->
    <!-- Für Apple-Geräte -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon-180x180.png" %}">
    <!-- Für Browser -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "favicon-32x32.ico" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon-96x96.png"%}">
    <!-- Für Windows Metro -->
    <meta name="msapplication-square310x310logo" content="{% static "mstile-310x310.png" %}">
    <meta name="msapplication-TileColor" content="#FFA733">
    <meta name="theme-color" content="#13306a">

    <!-- Bootstrap 3.4.1 styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- FontAwesome 5.14.0 styles -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">

    <!-- Fancybox 3.5.7 styles -->
    <link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">

    <!-- GCMS default styles -->
    <link href="{% static 'css/default.css' %}" rel="stylesheet">
    <link href="{% static 'css/labcourse.css' %}" rel="stylesheet">

    <!-- jQuery 3.5.1 library -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- Bootstrap 3.4.1 library -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Fancybox 3.5.7 library -->
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

    <!-- Faculty color -->
    <style>
        #navigation-affix, #navigation-toggle, #search-content, #sidebarLeft, #navigation-container-mobil {
            background-color: #FFA733;
        }

        .box {
            border-color: #FFA733;
        }

        .facInfoFarbe_border {
            border-color: #FFA733;
        }

        .facInfoFarbe_background {
            background-color: #FFA733;
        }

        .facInfoFarbe_text {
            color: #FFA733;
        }
    </style>


    <!-- Template:  faculty_start -->
</head>
<body>

<section id="page" class="page">
    <div id="scrollable-area" class="scrollableArea">
        <header id="header-logo-container">
            <div class="container-fluid logo-container">
                <a href="/">
                    <img src="{% static 'img/header_image.png' %}" alt="Advanced Lab Course" style="max-width: 100%">
                </a>
            </div>
        </header>

        <div id="navigation-container-mobil" class="sticky-top">
            <div class="container-fluid">
                <a id="navigation-toggle-mobil" role="button" aria-expanded="false" aria-controls="navigation"
                   data-bs-toggle="collapse" data-bs-target="#navigation">
                    <span>Men&uuml;</span>
                    <span id="leftBurger" class="slideRight fas fa-bars"></span>
                </a>
            </div>
        </div>
        <div id="navigation-container" class="sticky-top">
            <div id="navigation-affix">
                <div class="container-fluid">
                    <a id="navigation-toggle" role="button" data-toggle="collapse" aria-expanded="false"
                       aria-controls="navigation"><span>Men&uuml;</span><span class="fas fa-bars"></span></a>
                    <div id="navigation" class="collapse">
                        <nav>
                            <ol>
                                <li><a href="/">Home</a></li>
                                <li><a href="/general/">General</a></li>
                                <li><a href="/experiments/">Experiments</a></li>
                                <li><a href="/tutors/">Tutors</a></li>
                                <li><a href="/examiners/">Examiners</a></li>
                                <li><a href="/downloads/">Downloads</a></li>
                                <li><a href="/contact/">Contact</a></li>
                                <li><a href="/mylab/" style="color: #13306a;">My Lab</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="breadcrumb" id="breadcrumb-container" class="overflow-auto">
            <!-- DESKTOP -->
            <div class="d-none d-sm-block container-fluid">
                <ol class="breadcrumb bg-white pull-left px-0 mb-0">
                    <li class="breadcrumb-item">
                        <a href="/" title="Homepage">
                            <span class="fas fa-home"></span>
                            <span class="sr-only">Startseite</span>
                        </a>
                    </li>
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </div>
            <div class="d-block d-sm-none container-fluid">
                <!-- MOBILE -->
                <ol id="breadcrumb-mobile" class="breadcrumb bg-white pull-left px-0 mb-0 ">
                    {% block breadcrumb-mobile %}
                    {% endblock %}
                </ol>

            </div>
        </nav>
        <div id="main">
            <div class="container-fluid">
                <div id="page-content" class="row">
                    <article class="col-sm-8">
                        {% block content %}
                        {% endblock %}
                    </article>

                    <aside class="col-sm-4">
                        {% if user.is_authenticated %}
                        <div class="d-flex justify-content-between">
                            <span>Logged in as <strong>{{ user.first_name }} {{ user.last_name }}.</strong></span>
                            <a href="{% url 'logout' %}" class="btn btn-dark btn-sm">Log out</a>
                        </div>
                        {% else %}
                        <div class="d-flex justify-content-between">
                            <span>Not logged in.</span>
                            {% if LABCOURSE.LOCAL_LOGIN %}
                                <a href="{% url 'login' %}?next={{request.get_full_path|urlencode}}" class="btn btn-dark btn-sm">Log in</a>
                            {% else %}
                                <a href="{% url "openid_login" %}?next={{request.get_full_path|urlencode}}" class="btn btn-dark btn-sm">Log in</a>
                            {% endif %}
                        </div>

                        {% endif %}

                        <hr>

                        {% block aside %}
                        {% endblock %}
                    </aside>
                </div>
            </div><!-- Ende container-fluid -->
        </div><!-- Ende #main -->

    </div> <!-- Ende Scrollable Area -->

</section><!-- Ende Page Section -->

<footer class="fixed-bottom footer">
    Advanced Lab Course website v{% version %} -
    by <a href="mailto:thusser@uni-goettingen.de">Tim-Oliver Husser</a> -
    <a href="https://gitlab.gwdg.de/thusser/labcourse">GitLab</a> /
    <a href="https://gitlab.gwdg.de/thusser/labcourse/-/issues">Issues</a>
</footer>

</body>
