/* ### -- Fonts -- ### */

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
}


/* ### -- general section -- ### */

body {
    font-size: 16px;
    font-family: "Calibri", "Open Sans", sans-serif;
    color: #fff;
    background: #6f6f6e;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-align: left;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

.smaller {
  font-size: smaller;
}

a,
a:hover {
    color: #0078a3;
    border-bottom: dotted 1px #0078a3;
}

a:focus,
a:hover {
    text-decoration: none;
    border-bottom: solid 2px;
}

a.btn:hover,
a.btn:focus,
a.btn:visited {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.nav-pills>li>a {
    border-bottom: none;
}

hr {
    border-top-width: 4px;
}

.highlight {
    background-color: #f2f0e8;
}

.hightlight-label {
    background-color: #f2f0e8;
    display: inline-block;
    padding: 5px;
    border-radius: 2px;
}

.favorites-container a {
    border-bottom: none;
}

.favorites-container a:hover,
.carousel-container a:focus {
    border-bottom: none;
    text-decoration: underline;
}

.carousel-container,
.favorites-container,
.highlight {
    margin-left: 0;
    margin-right: 0;
}

.btn-primary {
    background: #13306a;
    border-color: rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
    background: #13306a;
    border-color: rgba(0, 0, 0, 0.1);
}

#page-content {
    margin-bottom: 30px;
}

.imagefloatleft {
    float: left;
    margin-right: 20px;
}

.txtlist {
    padding-left: 0;
}

.txtlist li {
    margin-left: 20px;
}

.thesis-list {
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}


/* ### -- Error Page -- ### */

.errors {
    margin-top: 60px;
    min-height: 220px;
}

.error-title {
    font-size: 80px;
}

.error-message {
    font-size: 20px;
}


/* ### -- header section -- ### */

header {
    background: #13306a;
}

#navigation-container a,
#sidebarLeft a,
#navigation-container-mobil a,
#search-container a,
#navigation-container a:focus,
#sidebarLeft a:focus,
#navigation-container-mobil a:focus,
#search-container a:focus,
#navigation-container a:hover,
#sidebarLeft a:hover,
#navigation-container-mobil a:hover,
#search-container a:hover,
#navigation-container a:visited,
#sidebarLeft a:visited,
#navigation-container-mobil a:visited,
#search-container a:visited {
    color: #fff;
}

#navigation-container a,
#sidebarLeft a,
#navigation-container-mobil a,
header a,
#search-container a,
#search-lang-container a,
#navigation-container a:focus,
#sidebarLeft a:focus,
#navigation-container-mobil a:focus,
header a:focus,
#navigation-container a:hover,
#sidebarLeft a:hover,
#navigation-container-mobil a:hover,
header a:hover,
#navigation-container a:visited,
#sidebarLeft a:visited,
#navigation-container-mobil a:visited,
header a:visited,
#search-container a:visited,
#search-lang-container a:visited {
    text-decoration: none;
    border-bottom: none;
}

#search-container a:hover,
#search-lang-container a:hover,
#search-container a:focus,
#search-lang-container a:focus {
    text-decoration: underline;
}

.header-carousel-image {
    margin-bottom: 40px;
}

header span {
    color: #fff;
    font-size: 30px;
    margin: 8px 0;
    text-align: right;
    display: block;
    line-height: 1;
    font-weight: 200;
}


/* ### -- navigation section -- ### */

#navigation-container,
#navigation-container-mobil {
    width: 100%;
    z-index: 100;
}

#navigation-container,
#sidebarLeft,
#navigation-container-mobil {
    background: #8ab8cf;
    font-size: 20px;
    text-transform: uppercase;
}

#navigation-container ol {
    margin: 0 auto;
    padding: 0;
}

#navigation-affix {
    width: 100%;
    z-index: 100;
    top: 0;
    border: 0;
    background: #8ab8cf;
}

#navigation-affix.affix {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#navigation-container ol {
    list-style: none;
    margin-bottom: 0;
}

#sidebarLeft .shutLeft {
    text-align: right;
    padding-right: 1.2em;
}

#navigation-container a,
#navigation-container-mobil a {
    padding: 8px 0;
    display: block;
}

#navigation-container #navigation-toggle,
#navigation .search-form {
    display: none;
}

#navigation-toggle {
    color: #fff;
}

a.toggle-button .fas {
    transition: all 0.2s ease 0s;
}

a.toggle-button.collapsed .fas {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#toggle-events span.toggle-text {
    font-weight: normal;
}


/* ### -- Mega Menu -- ### */

#mega-menu {
    display: none;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #7387ad;
    -webkit-box-shadow: inset 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 10px 30px -5px rgba(0, 0, 0, 0.75);
}

#mega-menu.active {
    display: block;
}

#mega-menu .dark-blue {
    background-color: #0a387e;
}

ul.mega-menu {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

.mega-menu-separator {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* ### -- breadcrumbs and aside links -- ### */

#page-navigation {
    padding: 8px 0;
    text-transform: uppercase;
}

.content-sub-menu>ul,
ul.txtlist {
    padding: 0;
    list-style: none;
}

.content-sub-menu>ul>li:not(.separator),
ul.txtlist>li {
    margin: 4px 0 4px 24px;
    position: relative;
    text-align: left;
}

.content-sub-menu>ul>li.separator {
    margin: 16px 0 8px 0;
}

.content-sub-menu>ul>li:not(.separator)::before,
ul.txtlist>li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    text-align: center;
    left: -24px;
    width: 24px;
    content: "\f105";
}


/* ### -- aside links -- ### */

aside a,
aside a:hover,
aside a:focus,
aside a:visited {
    border-bottom: none;
}

aside a:hover,
aside a:focus {
    text-decoration: underline;
}

#search-container {
    position: relative;
}

#search-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #8ab8cf;
    z-index: 50;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
}

#search-lang-container {
    text-align: right;
}

#search-lang-container a {
    margin-left: 8px;
}

#search-lang-container a>span {
    margin-right: 4px;
}

#top-search li {
    display: inline-block;
}

#search-form,
#top-search {
    padding-top: 24px;
    padding-bottom: 24px;
}

#top-search {
    text-align: justify;
}

.search-form .form-control {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.input-group-addon {
    background-color: #13306a;
    border-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

#search-close {
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 0;
    display: block;
    text-align: right;
}

.gsc-table-result {
    font-family: "Calibri", "Open Sans", sans-serif !important;
    font-size: 16px;
    line-height: 1.25;
}

.gsc-table-cell-snippet-close {
    padding-left: 8px !important;
    padding-right: 8px !important;
}


/* ### -- Suchfeld A-Z -- ### */

#stud-suche .form-control:not(.multiselect-search) {
    margin-bottom: 5px;
}

#stud-suche #stud-search-input {
    margin-bottom: 0;
}

#stud-suche .btn-primary:hover {
    color: #fff;
}

#stud-suche a.morelink {
    margin-left: 10px;
}

.abc-separator {
    font-size: 12px;
}

.abc-liste {
    padding: 20px;
    background: #f2f0e8;
    transition: all 0.2s ease 0s;
}

.abc-link:hover {
    display: inline-block;
    text-decoration: none;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}


/* ### -- slider section -- ### */

#page-showcase+#page-content {
    margin-top: 24px;
}

.carousel-indicators {
    bottom: 0;
    margin-bottom: 60px;
}

.carousel-indicators li {
    margin: 0;
    height: 16px;
    width: 16px;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.carousel-indicators .active {
    height: 16px;
    width: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel-caption {
    padding: 8px;
    bottom: 72px;
    text-transform: uppercase;
    color: #4e9cc3;
    text-shadow: none;
    right: 30%;
    left: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #747474;
    background-color: #7387ad !important;
}

.carousel-container {
    background-color: #7387ad;
}

.carousel-caption h2 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px !important;
}

.carousel-caption.right {
    right: 0;
    left: 0;
    bottom: -39px;
}

.carousel-caption.left {
    right: 0;
    left: 0;
}

.carousel-caption.top {
    top: 48px;
    bottom: auto;
}

.carousel-control {
    margin-bottom: 40px;
}

.carousel-control,
.carousel-control:focus,
.carousel-control:hover {
    border-bottom: none;
}

.carousel-control .fas {
    font-size: 48px;
    margin-top: -24px;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
}

.carousel-control.left .fas {
    left: 8%;
}

.carousel-control.right .fas {
    right: 8%;
}


/* ### -- start page section -- ### */

.lead-paragraph {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

.lead-paragraph>.text {
    font-size: 16px;
}

#favorites {
    padding-bottom: 15px;
}

.news a:not(.more) {
    text-decoration: none;
    padding-bottom: 16px;
    border-bottom: none;
}

.news img,
.banner img {
    width: 100%;
}

#cooperate-logos img {
    width: 90%;
    margin: 0 auto;
}

.news p {
    color: #4a4949;
    text-align: left;
}

.news h2,
.news span:not(.fas) {
    font-size: 16px;
    font-weight: bold;
}

.news h2.heading {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
    font-weight: normal;
}

.news a:hover h2 {
    text-decoration: underline;
}

.link-container.text-left a .fas {
    margin-right: 8px;
}

.link-container.text-right a .fas {
    margin-left: 8px;
}

.link-container.space {
    padding: 8px 15px;
}

.text-left.link-container a:not(:first-child) {
    margin-left: 8px;
}

.text-right.lin-container a:not(:first-child) {
    margin-right: 8px;
}

.banner:last-child {
    padding-top: 30px;
}

.banner:not(:last-child) {
    padding-bottom: 20px;
}

.banner a,
.news a:not(.more) {
    display: block;
    border-bottom: none;
}

.news .fa-ul {
    margin-left: 25px;
}


/* ### -- main section -- ### */

#scrollable-area {
    background: white;
}

#main {
    background: #fff;
    color: #212121;
}

#stud-suche a.btn-primary {
    color: #fff;
}

#page-content article {
    text-align: left;
    padding-bottom: 50px;
    font-size: 18px;
    overflow: auto;
}

#page-content article.col-sm-8 {
    padding-right: 40px;
}

#page-content article .box .text {
    text-align: left;
    font-size: 16px;
    overflow: auto;
}

#page-content article.schulportal {
    text-align: left;
}

#page-content article .headline {
    text-align: left;
}

.linkmenu {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

img.side-image {
    width: 100%;
    height: auto;
    margin-top: 24px;
}

img.imagetag {
    max-width: 100%;
    height: auto;
}

.header-image img {
    width: 100%;
}

.box {
    border-top: 4px solid #8ab8cf;
    background-color: #f5f5f5;
    padding: 20px 30px;
    margin-top: 24px;
    list-style: none;
}

ol.box li:not(.separator),
.linkmenu>li {
    margin: 12px 0;
}

ol.box li a {
    word-break: break-word;
    font-size: 18px;
}

.separator,
.heading {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: block;
    word-wrap: break-word;
}

.box li.separator:not(:first-child) {
    margin-top: 16px;
}

#main span.morelink,
a.morelink {
    text-decoration: underline;
    font-weight: bold;
    border-bottom: none !important;
}

.collapse-button {
    display: block;
    position: relative;
    text-decoration: none !important;
}

.collapse-button>span,
.collapse-button>h2,
.collapse-button>h3,
.collapse-button>h4 {
    margin: 0 0 0 24px;
    display: block;
}

.collapse-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -10px;
    font-size: 14px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    transition: all 0.2s ease 0s;
    background: #4d9cc2;
    border-radius: 100%;
    color: #fff;
}

.collapse-button.collapsed::before {
    transform: rotate(-90deg);
}

.collapse-box:not(.transparent),
.collapse-button:not(.transparent) {
    background: #f1f1f1;
}

.collapse-box,
.collapse-button>span,
.collapse-button>h2,
.collapse-button>h3,
.collapse-button>h4 {
    padding: 8px 16px;
}

.collapse-box.transparent,
.collapse-button.transparent>span,
.collapse-button.transparent>h2,
.collapse-button.transparent>h3,
.collapse-button.transparent>h4 {
    padding: 8px 0 8px 8px;
}

.collapse-button.transparent::before {
    left: 0;
}

.responsive-media {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.responsive-media>iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* ### -- Box section -- ### */


/*
Author: Nils Gehrke (nils.gehrke@zvw.uni-goettingen.de)
Date of creation: 2016-05-25
Date of last update: 2017-05-12
*/

.hiddenBox>a.ueberschrift,
.visibleBox>a.ueberschrift {
    display: block;
}

.hiddenBox>a.ueberschrift>font,
.visibleBox>a.ueberschrift>font {
    display: table-cell;
    padding: 4px;
}

.hiddenBox>a:hover.ueberschrift,
.visibleBox>a:hover.ueberschrift {
    text-decoration: none !important;
}

.hiddenBox>a.ueberschrift::before,
.visibleBox>a.ueberschrift::before {
    border-right: 4px solid #f5f5f5;
    display: table-cell;
    width: 16px;
    padding-left: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: #7387ad;
    color: #fff;
}

.hiddenBox>a.ueberschrift::before {
    content: "+\2002";
}

.visibleBox>a.ueberschrift::before {
    content: "\2013\2002";
    border-bottom: 4px solid #f5f5f5;
    padding-bottom: 4px;
}

.hiddenBox .hiddenElement {
    display: none;
}

.visibleBox .hiddenElement {
    display: block;
    padding: 4px;
}

.hiddenBox,
.visibleBox {
    background-color: #dee2e8;
    margin-bottom: 6px;
}

.teamPageTable {
    background-color: #dee2e8;
}

.teamPageTable:focus {
    display: block;
}

.teamPageTable td {
    vertical-align: top;
}

.teamPageTable td:first-child {
    padding: 4px 0 16px 6px;
}

.teamPageTable td:last-child {
    padding: 0 0 16px 10px;
}


/* ### -- pagination section -- ### */

#main .pagination>.active>a {
    color: #fff;
}


/* ### -- video section -- ### */

.video-thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.video-thumbnail:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 100px;
    color: #fff;
    opacity: 0.8;
    text-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
}

.video-thumbnail:hover:before {
    color: #ccc;
}


/* ### -- footer section -- ### */

footer {
    background-color: #6f6f6e;
    padding: 24px 0;
}

footer a,
footer a:hover,
footer a:visited,
footer a:focus {
    color: #fff;
    border-bottom: none;
}

footer a:hover {
    text-decoration: underline;
}

footer h3 {
    text-transform: uppercase;
    font-weight: 400;
}

footer .list-unstyled>li {
    margin: 4px 0;
}


/* ### -- social button colors -- ### */

#social-buttons a {
    display: inline-block;
    padding: 4px;
    background: #fff;
    color: #6f6f6e;
    border-radius: 128px;
    transition: all 0.2s ease 0s;
    margin-bottom: 8px;
}

#social-buttons a:hover {
    background: #6f6f6e;
    color: #fff;
}

#social-buttons a .fab {
    font-size: 24px;
    height: 28px;
    width: 28px;
    text-align: center;
    padding: 2px 0;
    vertical-align: middle;
}

#social-buttons a.facebook:hover {
    background-color: #3b5998;
}

#social-buttons a.twitter:hover {
    background-color: #1da1f2;
}

#social-buttons a.youtube:hover {
    background-color: #cd201f;
}

#social-buttons a.google:hover {
    background-color: #dd4b39;
}

#social-buttons a.instagram:hover {
    background-color: #c13584;
}

#social-buttons a.pinterest:hover {
    background-color: #bd081c;
}


/* ### -- Formular section -- ### */


/*
Author: Guido Albrecht-Böning (guido.albrecht-boening@zvw.uni-goettingen.de)
Date of creation: 2019-01-22
Date of last update: 2019-04-02
*/

.text_davor {
    text-align: left;
    font-weight: bold;
    min-width: 100px;
    width: calc(100% / 1 - 0px);
    max-width: 100%;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

#gcms_form label {
    font-weight: normal;
    padding-left: 0;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    cursor: pointer;
    display: block;
    max-width: 100%;
}

#gcms_form input[type="radio"],
#gcms_form input[type="radio"] {
    position: relative;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 2px 0px 2px 0px !important;
}

#gcms_form input[type="checkbox"],
#gcms_form input[type="checkbox"] {
    position: relative;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#gcms_form.radio,
#gcms_form.checkbox {
    position: relative;
    display: block;
}

.absenden {
    vertical-align: top;
    min-width: 100px;
    width: 100%;
    padding-left: 0;
    margin: 15px 0px 15px 0px;
}

.clear {
    clear: both;
}

.hero {
    padding-top: 9.5rem;
    padding-bottom: 9.5rem;
}

.hero-xl {
    padding-top: 11.5rem;
    padding-bottom: 14.5rem;
}

.breadcrumb {
    text-transform: uppercase !important;
    padding: 1.5rem !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc( 100% - 190px);
}

.breadcrumb li {
    display: inline;
}

#breadcrumb-container a {
    border-bottom: none;
}

.breadcrumb>li+li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f105" !important;
}

#breadcrumb-mobile {
    max-width: calc( 100% - 86px);
}

.breadcrumb#breadcrumb-mobile>li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f104" !important;
    padding: 0 5px;
    color: #ccc;
}


/* import from Bootstrap 4 */

.p-0 {
    padding: 0 !important;
}

.pt-0,
.py-0 {
    padding-top: 0 !important;
}

.pr-0,
.px-0 {
    padding-right: 0 !important;
}

.pb-0,
.py-0 {
    padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
    padding-left: 0 !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.bg-white {
    background-color: #fff !important;
}

.text-light {
    color: #f8f9fa !important;
}

.text-center {
    text-align: center !important;
}

b,
strong {
    font-weight: bolder !important;
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}

.mb-0,
.my-0 {
    margin-bottom: 0 !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.pt-2,
.py-2 {
    padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
    padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
    padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
    padding-left: 0.5rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
    padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
    padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
    padding-left: 1.5rem !important;
}

.mr-4,
.mx-4 {
    margin-right: 1.5rem !important;
}

.overflow-auto {
    overflow: auto !important;
}


/* ### -- combined media queries (bootsrap breakpoint @screen-sm-min, replace values if changed) -- ### */

@media (min-width: 768px) {
    .container-fluid {
        max-width: 1200px;
    }
    header span {
        position: absolute;
        bottom: 4px;
        right: 15px;
        margin-left: 500px;
    }
    #navigation-container ol li {
        display: inline-block;
    }
    #navigation-container a {
        position: relative;
    }
    #navigation-container ol li:not(:last-child) {
        margin-right: 12px;
    }
    #navigation-container a::before {
        content: "";
        background: #fff;
        width: 100%;
        position: absolute;
        height: 2px;
        bottom: 6px;
        left: 0;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    #navigation-container li:hover a::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    #navigation {
        display: block !important;
    }
    #sidebarLeft {
        display: none;
    }
    #schulportal-event dt {
        width: 30%;
    }
    #schulportal-event dd {
        margin-left: 32%;
    }
    #navigation-container-mobil {
        display: none;
    }
}

@media (max-width: 767px) {
    .error-title {
        font-size: 30px;
    }
    #logo {
        height: auto;
        width: 100%;
        max-width: 300px;
    }
    .logo-container {
        padding-top: 16px;
        padding-bottom: 8px;
    }
    header span {
        font-size: 24px;
    }
    .logo-container {
        background-position: 16% 16px;
    }
    #navigation-container-mobil #navigation-toggle-mobil {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #sidebarLeft {
        display: block;
    }
    #sidebarLeft a {
        padding-top: 8px;
        padding-right: 0;
        padding-bottom: 8px;
        padding-left: 0;
        display: block;
    }
    #sidebarLeft ol li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    #sidebarLeft ol li {
        list-style: none;
    }
    #page-content article {
        text-align: left;
    }
    #page-content article a {
        border-bottom: dotted 1px #0078a3;
    }
    article a {
        border-bottom: dotted 1px #0078a3;
    }
    #page-content article.col-sm-8 {
        padding-right: 40px;
    }
    .header-carousel-image {
        margin-bottom: 0;
    }
    .carousel-caption {
        font-size: 16px;
        position: static;
        box-shadow: none;
        padding: 6px 10%;
        border-bottom: 2px solid #8ab8cf;
        background-color: #f2f0e8;
    }
    .carousel-caption h2,
    .carousel-caption p {
        font-size: 16px;
        margin: 0;
    }
    .carousel-control {
        background-image: none !important;
    }
    .carousel-control .fas {
        font-size: 24px;
    }
    .banner img {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 980px) {
    header span {
        font-size: 24px;
    }
}


/* ### -- print -- ### */

@media print {
    header a[href]:after,
    .box a[href]:after {
        content: none;
    }
    #navigation-container,
    #search-lang-container,
    body>footer,
    #page-showcase,
    #logo {
        display: none;
    }
    header span {
        position: static;
        margin: 0;
    }
    hr {
        border-top-width: 1px;
        border-color: black !important;
    }
    .box,
    .highlight {
        padding: 8px 0;
        border-color: black !important;
        border-width: 1pt 0 !important;
        border-style: dashed;
        word-break: break-all;
        overflow: hidden;
    }
    #print-logo {
        display: block !important;
        width: 50%;
        height: auto;
    }
}


/* export from head */

.cookie_banner_footer {
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #13306a;
    color: white;
    text-align: center;
}

.hide_banner {
    display: none;
}

.ghost_button {
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px;
    width: 320px;
    font-size: 15px;
    font-weight: 500;
    background-color: #102f68;
    white-space: normal;
}

.ghost_button:hover {
    background-color: #eeeeee;
    color: black !important;
}

.normal_button:hover {
    background-color: #102f68;
    color: white !important;
    border: 1px solid white;
}

a ins:hover {
    font-weight: 900;
    font-size: 105%;
}