#main a {
    text-decoration: none !important;
    color: black;
}

#main a.btn {
    color: white;
}

footer {
    margin-top: 30px;
    padding: 5px;
    text-align: center;
}

.lab-list {
    font-size: medium;
}

.lab-list > li > a {
    margin-left: 0.3em;
}

.lab-list > li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
}

.people-list > li {
    border-bottom: 1px dashed black;
}

.people-list > li:nth-child(2n+2) {
    background-color: #eee !important;
}

.list-anchor {
  position: absolute;
  transform: translateY(-50vh);
}

.rt-ag {
    background-color: rgb(225, 225, 255);
}

.rt-bk {
    background-color: rgb(225, 255, 225);
}

.rt-fm {
    background-color: rgb(255, 255, 200);
}

.rt-kt {
    background-color: rgb(255, 225, 225);
}

.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.table-very-sm>:not(caption)>*>* {
    padding: 0 !important;
}

.delete-button {
    color: black;
    border-bottom: 0 !important;
}

.delete-button:hover {
    color: red !important;
}

.proceed-button {
    color: green !important;
    border-bottom: 0 !important;
}

.proceed-button:hover {
    color: greenyellow !important;
}

.edit-button {
    color: orange !important;
    border-bottom: 0 !important;
}

.edit-button:hover {
    color: darkorange !important;
}

.help-text > img {
    margin-bottom: 15px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    max-width: 90%;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}