{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load report_versions %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Process report</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Process report</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Accept report</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Report successfully {% if report.passed %}accepted{% else %}rejected{% endif %}.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th colspan="2">Report {% if report.passed %}passed{% else %}failed{% endif %}</th>
                </tr>
                <tr>
                    <th>Experiment:</th>
                    <td>{% experiment_link report.appointment.experiment True %}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ report.appointment.date.date|date:"l, j F Y" }}</td>
                </tr>
                <tr>
                    <th>Tutor:</th>
                    <td>{% tutor_link report.tutor fullname=True %}</td>
                </tr>
                <tr>
                    <th>Student:</th>
                    <td>{% user_link report.student fullname=True %}</td>
                </tr>
                <tr>
                    <th>Result:</th>
                    <td>{% if report.passed %}PASSED{% else %}FAILED{% endif %}</td>
                </tr>
            </table>
        </div>

    {% else %}
        <p>
            Here you can accept or reject a lab report from a student. A report should be <strong>good</strong>,
            before you accept it (set "Result" to "passed"). You should give the student a couple of attempts to
            correct the report. Usually <strong>two corrections</strong>, but you can accept more. If the report is
            still not good after that, you can reject it (set "Result" to "failed"). In this case the student will
            have to do an additional lab to pass the Lab Course.
        </p>
        <p>
            Please check carefully that you selected the correct report by examining the name of the
            <strong>experiment</strong>, the <strong>date</strong> and the name of the <strong>student</strong>.
            Then you should also select the <strong>tutor</strong> that actually supervised the lab and will
            receive the credits.
            When you have done that, select whether the student has passed or failed the lab, before clicking
            the button to accept/reject the report.
        </p>
        <hr>
        <form action="{% url "mylab.tutor.accept_report" report.pk %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{{ report.appointment.experiment.code }} - {{ report.appointment.experiment.name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="date"
                           value="{{ report.appointment.date.date }}">
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="tutor" class="col-sm-3 col-form-label">Tutor:</label>
                <div class="col-sm-9">
                    {% render_field form.tutor class+="form-select" %}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="student" class="col-sm-3 col-form-label">Student:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="student"
                           value="{{ report.student.full_name }}">
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <div class="col-sm-3 col-form-label">Report:</div>
                <div class="col-sm-9">
                    {% report_versions report %}
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="{{ form.passed.id_for_label }}" class="col-sm-3 col-form-label">Result:</label>
                <div class="col-sm-9">
                    {% render_field form.passed class+="form-select" %}
                </div>
            </div>
            <hr>
            <div {% if not user.is_admin %}class="invisible"{% endif %}>
                <div class="mb-3 row">
                    <div class="col-sm-9 offset-md-3">
                        {% render_field form.send_email %}
                        <label for="{{ form.send_email.id_for_label }}">{{ form.send_email.label }}</label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Accept/reject report</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
