{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Add appointment</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Add appointment</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>{% if edit %}Edit{% else %}Add a{% endif %} lab appointment</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Appointment successfully {% if edit %}changed{% else %}created{% endif %}.
        </div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th colspan="2">New appointment</th>
                </tr>
                <tr>
                    <th>Experiment:</th>
                    <td>{% experiment_link appointment.experiment True %}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ appointment.date.date|date:"l, j F Y" }}</td>
                </tr>
                <tr>
                    <th>Student(s):</th>
                    <td>{% user_link_list appointment.students.all fullname=True %}</td>
                </tr>
            </table>
        </div>

    {% else %}
        <p>
            Here you can add/edit an appointment for the <strong>experiments</strong> that you are tutoring. You can
            either pick a <strong>date</strong> from the pre-defined list or create a new one by specifying it in the
            field below. Note that the latter will always be used if given.
        </p>
        <p>
            Finally, you can pick up to three <strong>students</strong> that are participating in the lab. By leaving
            all three to "None", you can use this to block a given date for the experiment.
        </p>
        <hr>
        <form action="
                {% if edit %}{% url "mylab.tutor.edit_appointment" appointment.pk %}{% else %}{% url "mylab.tutor.add_appointment" %}{% endif %}"
              method="post" id="app">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="{{ form.experiment.id_for_label }}" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    {% render_field form.experiment class+="form-select" %}
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="{{ form.semester.id_for_label }}" class="col-sm-3 col-form-label">Semester:</label>
                <div class="col-sm-9">
                    <select name="semester" id="{{ form.semester.id_for_label }}" class="form-select"
                            v-model="semester">
                        {% for k, v in form.fields.semester.choices %}
                            <option value="{{ k }}" {% if forloop.last %}selected="selected"{% endif %}>{{ v }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.date.id_for_label }}" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    <select name="date" id="{{ form.date.id_for_label }}" class="form-select" v-model="date">
                        <option v-for="d in dates" :value="d.pk">
                            [[ d.date ]]
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.newdate.id_for_label }}" class="col-sm-3 col-form-label">New date:</label>
                <div class="col-sm-9">
                    {% render_field form.newdate class+="form-control" %}
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="{{ form.student1.id_for_label }}" class="col-sm-3 col-form-label">Student 1:</label>
                <div class="col-sm-9">
                    <select name="student1" id="{{ form.student1.id_for_label }}" class="form-select"
                            v-model="student1">
                        <option value=""></option>
                        <option v-for="s in students" :value="s.pk">
                            [[ s.name ]]
                        </option>
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.student2.id_for_label }}" class="col-sm-3 col-form-label">Student 2:</label>
                <div class="col-sm-9">
                    <select name="student2" id="{{ form.student2.id_for_label }}" class="form-select"
                            v-model="student2">
                        <option value=""></option>
                        <option v-for="s in students" :value="s.pk">
                            [[ s.name ]]
                        </option>
                    </select>

                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.student3.id_for_label }}" class="col-sm-3 col-form-label">Student 3:</label>
                <div class="col-sm-9">
                    <select name="student3" id="{{ form.student3.id_for_label }}" class="form-select"
                            v-model="student3">
                        <option value=""></option>
                        <option v-for="s in students" :value="s.pk">
                            [[ s.name ]]
                        </option>
                    </select>
                </div>
            </div>
            <hr>
            <div {% if not user.is_admin %}class="invisible"{% endif %}>
                <div class="mb-3 row">
                    <div class="col-sm-9 offset-md-3">
                        {% render_field form.send_email %}
                        <label for="{{ form.send_email.id_for_label }}">{{ form.send_email.label }}</label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">{% if edit %}Change{% else %}Add{% endif %} appointment
                </button>
            </div>
        </form>
    {% endif %}

    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script>
        if ($("#app").length) {
            let semester = $("#id_semester option:selected").attr("value");
            let date = {% if form.initial.date %}{{ form.initial.date }}{% else %}''{% endif %};
            let student1 = {% if form.initial.student1 %}{{ form.initial.student1 }}{% else %}''{% endif %};
            let student2 = {% if form.initial.student2 %}{{ form.initial.student2 }}{% else %}''{% endif %};
            let student3 = {% if form.initial.student3 %}{{ form.initial.student3 }}{% else %}''{% endif %};
            let app = new Vue({
                delimiters: ["[[", "]]"],
                el: '#app',
                data: {
                    semester: '',
                    dates: [],
                    date: '',
                    students: [],
                    student1: '',
                    student2: '',
                    student3: '',
                },
                created: function () {
                    this.semester = semester;
                    this.student1 = student1;
                    this.student2 = student2;
                    this.student3 = student3;
                    this.date = date;
                },
                watch: {
                    semester(newSemester, oldSemester) {
                        let semester = newSemester.replace("/", "-");
                        axios.get("/api/semester/" + semester + "/dates/").then(response => {
                            this.dates = response.data.dates;
                            this.date = this.dates[0].pk;
                        });
                        axios.get("/api/semester/" + semester + "/students/").then(response => {
                            this.students = response.data.students;
                            this.student1 = student1;
                            this.student2 = student2;
                            this.student3 = student3;
                            this.date = date;
                        });
                    }
                }
            });
        }
    </script>
{% endblock %}
