{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Close appointment</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Close appointment</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Close lab appointment</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Appointment successfully closed.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th colspan="2">Appointment closed</th>
                </tr>
                <tr>
                    <th>Experiment:</th>
                    <td>{% experiment_link appointment.experiment True %}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ appointment.date.date|date:"l, j F Y" }}</td>
                </tr>
                <tr>
                    <th>Student(s):</th>
                    <td>
                        {% for report in reports %}
                            {% user_link report.student fullname=True %}<br/>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>

    {% else %}
        <p>
            Here you can confirm that a lab has actually taken place according to the arranged appointment.
            Please check carefully that you selected the correct one by examining the name of the
            <strong>experiment</strong> and the <strong>date</strong>.
        </p>
        <p>
            You can also deselect any <strong>student</strong> that did not
            participate in the lab. For all selected students, pending reports will be created.
        </p>
        <hr>
        <form action="{% url "mylab.tutor.close_appointment" appointment.pk %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{{ appointment.experiment.code }} - {{ appointment.experiment.name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="date"
                           value="{{ appointment.date.date }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="students" class="col-sm-3 col-form-label">Students:</label>
                <div class="col-sm-9">
                    {% render_field form.students %}
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Close appointment</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
