{% extends "mylab/base.html" %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Experiment</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Experiment</li>
{% endblock %}

{% block mylab_content %}
<h2>My Lab</h2>
<h3>Experiment {{ experiment.code }} - {{ experiment.name }}</h3>

<table class="table table-bordered table-striped table-responsive-sm">
    <thead>
    <tr>
        <th>Semester</th>
        <th>Date</th>
        <th>Student</th>
        <th>Tutor</th>
        <th>Report</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        {% for student in appointment.students.all %}
            <tr>
                <td>{{ appointment.date.semester.code }}</td>
                <td>
                    {{ appointment.date.date|date:"d/m/Y" }}
                </td>
                <td>
                    {% user_link student admin %}
                </td>
                <td>
                    {% for report in appointment.report_set.all %}
                        {% if report.student.pk == student.pk and report.tutor is not None %}
                            {% tutor_link report.tutor admin %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for report in appointment.report_set.all %}
                        {% if report.student.pk == student.pk %}
                            {% if report.passed is None %}
                                <icon class="fa fa-clock text-warning"></icon> Pending
                            {% elif report.passed %}
                                <icon class="fa fa-check-circle text-success"></icon>
                                Passed on {{ report.date|date:"d/m/Y" }}
                            {% else %}
                                <icon class="fa fa-exclamation-circle text-danger"></icon> Failed
                            {% endif %}
                            {% if report.reportversion_set.count > 0 %}
                                <ul class="mb-0">
                                {% for rv in report.reportversion_set.all %}
                                    <li>
                                        <a href="{{ rv.report_url }}" target="_blank">
                                            <icon class="fa fa-file-pdf"></icon>
                                            v{{ rv.version }} ({{ rv.date|date:"d/m/Y" }})
                                        </a>
                                    </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    {% empty %}
        <tr>
            <td colspan="5" class="text-center">No lab appointments found.</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
