{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Help</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Help</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Help</h3>

    <div class="row">
        <div class="col-4"><strong>Logging in and out</strong></div>
        <div class="col-8 help-text">
            <p>
                If you've made it this far, you've probably already figured out, how to log in. But just to make
                sure: on the right hand side of the page, you should see this:
            </p>
            <img src="/media/help/login_button.png" alt="Login button">
            <p>
                Clicking on that button will take you to the login page of the Academic Cloud, which you know from
                many other services hosted by the GWDG.
            </p>
            <p>
                After logging in with your usual university credentials, the login button from the beginning should
                have changed to something like this (with your name of course):
            </p>
            <img src="/media/help/logout_button.png" alt="Logout button">
            <p>
                Just click this button to log out again.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>My Lab page</strong></div>
        <div class="col-8 help-text">
            <p>
                Even when not logged in, you see a link to the "My Lab" page in the navigation panel:
            </p>
            <img src="/media/help/mylab_nav.png" alt="My Lab in nav bar">
            <p>
                However, the page that you will see when clicking that link now will be a little different, compared
                to what you get when you're not logged in.
            </p>
            <p>
                Below the button for logging out, you should see some links for tutors:
            </p>
            <img src="/media/help/mylab_tutor.png" alt="Tutor links in My Lab">
            <p>
                <strong>If you do not see the links, please contact the organizer of the advanced lab course.</strong>
            </p>
            <p>
                The "Help" link takes you directly to this page "List of students" presents you, well, a list of
                all the students in the current semester.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Add an appointment</strong></div>
        <div class="col-8 help-text">
            <p>
                You can add a new lab appointment by clicking on the corresponding link below the logout button. You
                will be presented with a page like this:
            </p>
            <img src="/media/help/add_booking.png" alt="Add a booking">
            <p>
                You can select the experiment that you tutor (if there is more than one) and the date for the lab.
                You can also select up to three students, who will take part in that lab. The selection boxes contain
                all students that are registered for the current semester. <strong>If a student is missing, please
                inform the organizer!</strong>
            </p>
            <p>
                Clicking on "Add appointment" will add the new appointment to the system.
            </p>
        </div>
    </div>

        <div class="row">
        <div class="col-4"><strong>Appointment requests</strong></div>
        <div class="col-8 help-text">
            <p>
                The more usual case will be for the students to request appointments via the ALC homepage. You will
                see those requests on your MyLab page:
            </p>
            <img src="/media/help/tutor_appointment_requests.png" alt="Appointment requests">
            <p>
                Hovering the mouse over the "+1" (could be different number) will show a tooltip with the other
                students this student would like to have as lab partners. Hovering over the speech bubble will show
                a comment made by the student, if any.
            </p>
            <p>
                You can remove an appointment request by clicking on the black circle with the minus symbol or
                process it by clicking on the arrow in the green circle. This will take you to a page, where you can
                create appointments from the requests:
            </p>
            <img src="/media/help/tutor_process_request.png" alt="Process appointment requests">
            <p>
                This page shows you all requests for a given lab on a given date. A list of all the students is
                given that want to take part in this lab as well as their requested lab partners and comments (if any).
                You can select all the students, for which you actually want to create an appointment and click the
                "Create appointment" button. The requests for all the other (not selected) students will stay in the
                system, so you can process their requests later.
            </p>
            <p>
                You can also change the date of the lab, by selecting one from the list or by entering a new one in
                the field below. Please discuss this with your students, before changing the lab to a day, on which
                the students might not be available!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Upcoming labs</strong></div>
        <div class="col-8 help-text">
            <p>
                On the main page of My Lab, you will see a list of upcoming labs, if there are any. With the appointment
                from above, you will see something like this:
            </p>
            <img src="/media/help/upcoming_labs.png" alt="Upcoming labs">
            <p>
                In the list, all appointments for your experiments will show up, giving you the date of the lab, the
                experiment and the students who take that lab.
            </p>
            <p>
                The two buttons that show up are the orange edit symbol for changing the appointment and the black minus
                sign to remove it.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Remove appointment</strong></div>
        <div class="col-8 help-text">
            <p>
                In the list of upcoming labs you can click on the minus button at the right hand side to remove a
                button. You will then see a confirmation page:
            </p>
            <img src="/media/help/remove_booking.png" alt="Remove booking">
            <p>
                If you really want to remove the appointment, tick the checkbox and click the button. Note that this
                action can not be undone!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Edit appointment</strong></div>
        <div class="col-8 help-text">
            <p>
                You can also edit an appointment by clicking the orange edit symbol in the list of upcoming labs.
                This will take you to a form that looks exactly like the one for adding an appointment, but allows
                you to change an existing one.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Finished labs</strong></div>
        <div class="col-8 help-text">
            <p>
                After the date of the lab has passed, it moves from the "My schedule" list to the "Finished labs"
                list:
            </p>
            <img src="/media/help/finished_labs.png" alt="Finished labs">
            <p>
                You should confirm the completion of the lab by clicking the green arrow at the right hand side
                for the specific lab, which will take you to the confirmation page:
            </p>
            <img src="/media/help/close_booking.png" alt="Close booking">
            <p>
                Here you can select the tutor who actually supervised the lab and will receive the reports, and the
                students that took part in the lab. If a student was missing, just deselect them. Click on "Clode
                appointment" to finally close the lab.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><strong>Reports</strong></div>
        <div class="col-8 help-text">
            <p>
                After closing a lab appointment, you will see a new list of "Pending reports" on the My Lab page:
            </p>
            <img src="/media/help/pending_reports.png" alt="Pending reports">
            <p>
                From the students listed here you should get their reports within a couple of weeks and ask them to
                work on it until it is in an acceptable state. If that happens, you can click on the green arrow on the
                right hand side, which will take you to a page, where you can accept the report:
            </p>
            <img src="/media/help/accept_report.png" alt="Close booking">
            <p>
                By ticking the checkbox and clicking the button you confirm that the report was in order. Now the
                student will be allowed to take their exam and your work is done for today.
            </p>
        </div>
    </div>
{% endblock %}
