{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Process appointment request</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Process appointment request</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Process appointment request</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Appointment request successfully processed.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th colspan="2">New appointment</th>
                </tr>
                <tr>
                    <th>Experiment:</th>
                    <td>{% experiment_link appointment.experiment True %}</td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td>{{ appointment.date.date|date:"l, j F Y" }}</td>
                </tr>
                <tr>
                    <th>Student(s):</th>
                    <td>{% user_link_list appointment.students.all fullname=True %}</td>
                </tr>
            </table>
        </div>

    {% else %}

        <p>
            Here you can process appointment requests from students for a given experiment. You can change the date
            of the appointment (via the dropdown list or by entering a new date), but this should be agreed on with
            the students.
        </p>
        <p>
            You can select all students or just some of them for the appointment. For students that were not selected
            an appointment request remains in the system, so you can easily split up a large group for several
            dates.
        </p>
        <p>
            For each student in the list, a list of requested lab partners is shown (if present), which you might want
            to consider. Note that the lab partner(s) have to sign up by themselves and you have to select them in the
            list! While doing the request the students were also able to enter a comment, which will also show up here.
        </p>
        <hr>
        <form action="{% url "mylab.tutor.process_appointment_request" experiment.code date.date|date:"Y-m-d" %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{{ experiment.code }} - {{ experiment.name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Requested date:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="date"
                           value="{{ date.date }} {% if exists %}(Appointments already exist on this date.){% endif %}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.date.id_for_label }}" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    {% render_field form.date class+="form-select" %}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.newdate.id_for_label }}" class="col-sm-3 col-form-label">New date:</label>
                <div class="col-sm-9">
                    {% render_field form.newdate class+="form-control" %}
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Students:</label>
                <div class="col-sm-9">
                    {% for r in requests %}
                        <p>
                            <label>
                                <input type="checkbox" name="students"
                                       value="{{ r.student_id }}" checked="">
                                <strong>{{ r.student.full_name }}</strong>
                            </label><br/>
                            <small>
                                {% if r.partners.count > 0 %}
                                    <strong>Requested lab partner(s):</strong>
                                    {% for s in r.partners.all %}{{ s.short_name }}
                                        {% if not forloop.last %},{% endif %}
                                    {% endfor %}<br/>
                                {% endif %}
                                {% if r.comment|length > 0 %}
                                    <strong>Comment:</strong> {{ r.comment }}<br/>
                                {% endif %}
                            </small>
                        </p>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div {% if not user.is_admin %}class="invisible"{% endif %}>
                <div class="mb-3 row">
                    <div class="col-sm-9 offset-md-3">
                        {% render_field form.send_email %}
                        <label for="{{ form.send_email.id_for_label }}">{{ form.send_email.label }}</label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Create appointment</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
