{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Remove appointment request</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Remove appointment request</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Remove lab request</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Request successfully removed.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>

    {% else %}
        <p>
            Here you can remove a request for a lab appointment. Please check carefully that you selected the correct
            one by examining the name of the <strong>experiment</strong>, the <strong>date</strong>, and the
            list of participating <strong>students</strong>. When you have done that, you can tick the checkbox
            and click the button to remove the appointment.
        </p>
        <p>
            Please not that this action <strong>can not be undone</strong>!
        </p>
        <hr>
        <form action="{% url "mylab.tutor.remove_appointment_request" request.pk %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="experiment"
                           value="{{ request.experiment.code }} - {{ request.experiment.name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="date" class="col-sm-3 col-form-label">Date:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="date"
                           value="{{ request.date.date }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="student" class="col-sm-3 col-form-label">Student:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="student"
                           value="{{ request.student.full_name }}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="partners" class="col-sm-3 col-form-label">Partners:</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="students"
                           value="{{ request.list_partners }}">
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label class="col-sm-3"></label>
                <div class="col-sm-9">
                    {% render_field form.checked %} <span>{{ form.checked.label }}</span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Remove request</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
