{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Students</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor</a></li>
    <li class="breadcrumb-item active">Students</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Students in {{ semester }}</h3>

    <table class="table table-responsive-sm small">
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for s in semester.students.all %}
            <tr>
                <td>{{ s.full_name }}</td>
                <td>
                    <icon class="fa fa-envelope"></icon>
                    <a href="mailto:{{ s.email }}">{{ s.email }}</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
