{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor/Examiner</a></li>
    <li class="breadcrumb-item active">Upload instructions</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Tutor/Examiner</a></li>
    <li class="breadcrumb-item active">Upload instructions</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Upload instructions</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Instructions successfully uploaded.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>

    {% else %}
        <p>
            Here you can upload new instructions for labs for which you are either tutor or examiner. Only PDFs are
            accepted.
        </p>
        <hr>
        <form action="{% url "mylab.tutor.instructions.update" %}" method="post" enctype="multipart/form-data" id="app">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="experiment" class="col-sm-3 col-form-label">Experiment:</label>
                <div class="col-sm-9">
                    {% render_field form.experiment class+="form-select" v-model="experiment" %}
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <div class="col-sm-3 col-form-label">Previous versions:</div>
                <div class="col-sm-9">
                    <table class="table table-responsive-sm table-striped">
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                            <th>Uploader</th>
                            <th>File</th>
                            <th>Size</th>
                        </tr>
                        <tr v-if="!instructions">
                            <td colspan="5" class="text-center">Loading...</td>
                        </tr>
                        <tr v-else-if="!instructions.length">
                            <td colspan="5" class="text-center">No instructions found</td>
                        </tr>
                        <tr v-else v-for="i in instructions">
                            <td>[[ i.version ]]</td>
                            <td>[[ i.date ]]</td>
                            <td>[[ i.author ]]</td>
                            <td>
                                <a v-bind:href="i.url">
                                    <icon class="fa fa-file-pdf"></icon>
                                    [[ i.filename ]]
                                </a>
                            </td>
                            <td>[[ i.filesize ]] KiB</td>
                        </tr>

                    </table>
                </div>
            </div>
            <hr>
            <div class="mb-3 row">
                <label for="{{ form.instructions.id_for_label }}" class="col-sm-3 col-form-label">Instructions:</label>
                <div class="col-sm-9">
                    {% render_field form.instructions class+="form-control" accept=".pdf" %}
                    {% for error in form.instructions.errors %}
                        <div class="alert alert-danger m-2">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Upload instructions</button>
            </div>
        </form>
    {% endif %}

    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script>
        if ($("#app").length) {
            let experiment = $("#id_experiment option:selected").attr("value");
            let app = new Vue({
                delimiters: ["[[", "]]"],
                el: '#app',
                data: {
                    experiment: '',
                    instructions: [],
                },
                created: function () {
                    this.experiment = experiment;
                },
                watch: {
                    experiment(newExperiment, oldExperiment) {
                        axios.get("/api/experiment/" + newExperiment + "/instructions/").then(response => {
                            this.instructions = response.data.instructions;
                        });
                    }
                }
            });
        }
    </script>
{% endblock %}
