{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item active">Admin</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item active">Admin</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Admin</h3>

    {% include "mylab/user_home.html" %}

{% endblock %}
