{% extends "mylab/base.html" %}
{% load static %}
{% load user_link %}
{% load history %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Appointment</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Appointment</li>
{% endblock %}

{% block mylab_content %}
    <h2>Appointment #{{ appointment.pk }} for {{ appointment.experiment.code }} on {{ appointment.date.date }}</h2>

    <p>
        <strong>Experiment: </strong>{% experiment_link appointment.experiment %}<br/>
        <strong>Date: </strong>{{ appointment.date }}<br/>
        <strong>Students: </strong>{% user_link_list appointment.students.all admin=True newline=False fullname=True %}
    </p>

    {% history appointment.appointmentupdate_set.all True %}

    {% if not appointment.is_open %}
        {% for report in appointment.report_set.all %}
            <h2 class="pt-4">{{ report.student.full_name }}</h2>

            {% history report.reportupdate_set.all True %}

        {% endfor %}
    {% endif %}

{% endblock %}
