{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Email details</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Email details</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Email details</h3>

    <hr>

    <h4>{{ email.subject }}</h4>
    <p>{{ email.date|date:"Y-m-d H:i:s" }}</p>
    <p>
        {% if email.to_tutors %}
            <icon class="fa fa-check-circle text-success" title="yes"></icon>
        {% else %}
            <icon class="fa fa-times-circle text-danger" title="no"></icon>
        {% endif %}
        Tutors,
        {% if email.to_examiners %}
            <icon class="fa fa-check-circle text-success" title="yes"></icon>
        {% else %}
            <icon class="fa fa-times-circle text-danger" title="no"></icon>
        {% endif %}
        Examiners,
        {% if email.to_semesters.count > 0 %}
            <icon class="fa fa-check-circle text-success" title="yes"></icon>
        {% else %}
            <icon class="fa fa-times-circle text-danger" title="no"></icon>
        {% endif %}
        Students{% if email.to_semesters.count > 0 %}:{% endif %}
        {% for semester in email.to_semesters.all %}
            {{ semester.code }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>

    {{ email.body|linebreaks }}

    <hr>

    <p>
        All recipients:<br/>
        {% for rec in email.recipients.all %}
            <a href="{% url "mylab.admin.user" rec.pk %}">{{ rec.full_name }}</a>
            &lt;<a href="mailto:{{ rec.email }}">{{ rec.email }}</a>&gt;{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>



{% endblock %}
