{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load report_versions %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Import StudIP</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Import StudIP</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Import StudIP</h3>

    {% if success and success is True %}

        <div class="alert alert-success">StudIP table successfully imported.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>
        <br/>
        <div class="card card-body bg-light">
            <table class="table table-responsive-sm table-borderless">
                <tr>
                    <th>Last name</th>
                    <th>First name</th>
                    <th>Username</th>
                    <th>Number</th>
                </tr>
                {% for row in result.itertuples %}
                    <tr>
                        <td>{{ row.Nachname }}</td>
                        <td>{{ row.Vorname }}</td>
                        <td>{{ row.Nutzernamen }}</td>
                        <td>{{ row.matrikelnummer|floatformat:0 }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p>
            Here you can import a CSV exported from StudIP with a list of participants.
        </p>
        <hr>
        <form action="{% url "mylab.admin.studip" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <div class="mb-3 row">
                <label for="{{ form.csv.id_for_label }}" class="col-sm-3 col-form-label">CSV:</label>
                <div class="col-sm-9">
                    {% render_field form.csv class+="form-control" accept=".csv" %}
                </div>
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Import StudIP</button>
            </div>
        </form>
    {% endif %}
{% endblock %}
