{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">List emails</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">List emails</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>List emails</h3>

    <table class="table table-responsive-sm table-hover table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Date</th>
            <th>Tutors</th>
            <th>Examiners</th>
            <th>Students</th>
        </tr>
        </thead>
        <tbody>
        {% for email in emails %}
            <tr>
                <td><a href="{% url "mylab.admin.emails.details" email.pk %}">{{ email.subject }}</a></td>
                <td>{{ email.date|date:"Y-m-d H:i:s" }}</td>
                <td>
                    {% if email.to_tutors %}
                        <icon class="fa fa-check-circle text-success" title="yes"></icon>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if email.to_examiners %}
                        <icon class="fa fa-check-circle text-success" title="yes"></icon>
                    {% endif %}
                </td>
                <td>
                    {% for semester in email.to_semesters.all %}
                        {{ semester.code }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
