{% extends "mylab/base.html" %}
{% load static %}
{% load user_link %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Search user</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Search user</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Search user</h3>

    <div id="app">
        {% csrf_token %}
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"><icon class="fa fa-search"></icon></span>
            <input type="text" class="form-control" placeholder="Search term" aria-label="Search"
                   aria-describedby="addon-wrapping" v-model="search">
        </div>

        <div v-if="results && results.length > 0">
            <hr/>
            <ul>
                <li v-for="user in results">
                    <h3><a :href="'/mylab/administrator/user/' + user.id + '/'">[[ user.name ]]</a></h3>
                    <span v-if="user.student.length > 0"><strong>Student: </strong>[[ user.student ]]<br/></span>
                    <span v-if="user.tutor.length > 0"><strong>Tutor: </strong>[[ user.tutor ]]<br/></span>
                    <span v-if="user.examiner.length > 0"><strong>Examiner: </strong>[[ user.examiner ]]<br/></span>
                    <br/>
                </li>
            </ul>
        </div>

    </div>

    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script>
        function debounce(fn, delay) {
            let timeoutID = null;
            return function () {
                clearTimeout(timeoutID);
                let args = arguments;
                let that = this;
                timeoutID = setTimeout(function () {
                    fn.apply(that, args)
                }, delay);
            }
        }

        if ($("#app").length) {
            let app = new Vue({
                delimiters: ["[[", "]]"],
                el: '#app',
                data: {
                    search: '',
                    results: []
                },
                watch: {
                    search: debounce(function (newSearch) {
                        // send request
                        axios.post(
                            "/api/search/user/",
                            {search: this.search},
                            {headers: {'X-CSRFToken': '{{ csrf_token }}'}}
                        ).then(response => {
                            console.log(response);
                            this.results = response.data.users;
                            console.log(this.results);
                        });
                    }, 500)
                }
            })
        }
    </script>
{% endblock %}
