{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Semesters</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Semesters</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Semesters</h3>

    <ul>
    {% for s in semesters %}
        <li>
            <a href="{% url "mylab.admin.semester" s.safe_code %}">{{ s }}</a>
        </li>
    {% endfor %}
    </ul>

    
{% endblock %}
