{% extends "mylab/base.html" %}
{% load static %}
{% load semester_experiments_plot %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
    <li class="breadcrumb-item active">{{ semester }}</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
    <li class="breadcrumb-item active">{{ semester }}</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>{{ semester }} <small>(<a href="{% url "mylab.admin.semester.details" semester.safe_code %}">details</a>)</small></h3>

    <table class="table table-responsive text-center">
        <tr style="font-size: smaller">
            <th style="width: 20%">Appointments:</th>
            <th style="width: 20%">Experiments:</th>
            <th style="width: 20%">Students:</th>
            <th style="width: 20%">Tutors:</th>
            <th style="width: 20%">Total labs:</th>
        </tr>
        <tr>
            <td>{{ appointments_valid.count }}</td>
            <td>{{ student_experiments.count }}</td>
            <td><a href="{% url "mylab.admin.semester.students" semester.safe_code %}">{{ students.count }}</a></td>
            <td>{{ tutors.count }}</td>
            <td>{{ student_labs.count }}</td>
        </tr>
    </table>

    {% semester_experiments_plot semester %}

    <table class="table table-sm table-responsive-sm table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Lab</th>
            <th>Tutor</th>
            <th>Students</th>
        </tr>
        </thead>
    <tbody>
    {% for a in appointments %}
        <tr>
        <td {% if a.students.count == 0 %}class="text-muted"{% endif %}>{{ a.date.date|date:"d/m/Y" }}</td>
        <td {% if a.students.count == 0 %}class="text-muted"{% endif %}>{{ a.experiment.code }}</td>
        <td>{{ a.report_set.first.tutor.full_name }}</td>
        <td>
            {% for s in a.students.all %}
                {{ s.full_name }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </td>
        </tr>
    {% empty %}
        <tr><td colspan="4">No appointments found.</td></tr>
    {% endfor %}
    </tbody>
    </table>


{% endblock %}
