{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semester" semester.safe_code %}">{{ semester }}</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semester" semester.safe_code %}">{{ semester }}</a></li>
    <li class="breadcrumb-item active">Details</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>{{ semester }} - Details</h3>

    {% include "mylab/user_home.html" %}

{% endblock %}
