{% extends "mylab/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Send emails</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="#">Admin</a></li>
    <li class="breadcrumb-item active">Send emails</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Send emails</h3>

    {% if success and success is True %}

        <div class="alert alert-success">Emails successfully sent.</div>
        <div class="text-center">
            <a href="{% url "mylab" %}" class="btn btn-primary">Back to MyLab</a>
        </div>

    {% else %}

        <form action="{% url "mylab.admin.emails.send" %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <hr>

            <div class="mb-3 row">
                <label class="col-sm-3">To:</label>
                <div class="col-sm-9">
                    {% render_field form.to_tutors %} <span>{{ form.to_tutors.label }}</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3"></label>
                <div class="col-sm-9">
                    {% render_field form.to_examiners %} <span>{{ form.to_examiners.label }}</span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-3"></label>
                <div class="col-sm-9">
                    Students in semesters:<br/>
                    {% render_field form.to_students_semesters class+="form-control" %}
                </div>
            </div>
            <hr>

            <div class="mb-3 row">
                <label for="{{ form.newdate.id_for_label }}" class="col-sm-3 col-form-label">Subject:</label>
                <div class="col-sm-9">
                    {% render_field form.subject class+="form-control" %}
                </div>
            </div>
            <div class="mb-3 row">
                <label for="{{ form.comment.id_for_label }}" class="col-sm-3 col-form-label">Body:</label>
                <div class="col-sm-9">
                    {% render_field form.body class+="form-control" %}
                </div>
            </div>

            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Send email</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
