{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semester" semester.safe_code %}">{{ semester }}</a></li>
    <li class="breadcrumb-item active">Students</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semesters" %}">Semesters</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin.semester" semester.safe_code %}">{{ semester }}</a></li>
    <li class="breadcrumb-item active">Students</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Students in {{ semester }}</h3>

    <table class="table table-responsive-sm small">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
        </tr>
        {% for s in students %}
            <tr>
                <td><a href="{% url "mylab.admin.user" s.pk %}">{{ s.full_name }}</a></td>
                <td>
                    <icon class="fa fa-envelope"></icon>
                    <a href="mailto:{{ s.email }}">{{ s.email }}</a></td>
                <td>{% if s.student_number %}{{ s.student_number }}{% endif %}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
