{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Tutors</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">Tutors</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>
    <h3>Tutors</h3>

    <ul>
    {% for s in tutors %}
        <li>
            <a href="{% url "mylab.admin.user" s.pk %}">{{ s.full_name }}</a>
            &lt;<a href="mailto:{{ s.email }}">{{ s.email }}</a>&gt;
        </li>
    {% endfor %}
    </ul>

    
{% endblock %}
