{% extends "mylab/base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">User</li>
{% endblock %}

{% block breadcrumb-mobile %}
    <li class="breadcrumb-item"><a href="{% url "mylab" %}">My Lab</a></li>
    <li class="breadcrumb-item"><a href="{% url "mylab.admin" %}">Admin</a></li>
    <li class="breadcrumb-item active">User</li>
{% endblock %}

{% block mylab_content %}
    <h2>My Lab</h2>

    <h3>
        </p>User: {{ labuser.full_name }}
        {% if user.is_authenticated and user.is_admin %}
            {% if admin %}
                <small>(<a href="{% url "mylab.admin.user.as_user" labuser.pk %}">View as user</a></small>)
            {% else %}
                <small>(<a href="{% url "mylab.admin.user" labuser.pk %}">View as admin</a></small>)
            {% endif %}
        {% endif %}
    </h3>
    <p>
        <icon class="fa fa-envelope"></icon> <strong>Email:</strong>
        <a href="mailto:{{ labuser.email }}">{{ labuser.email }}</a>
        {% if labuser.student_number %}
            <br/>
            <icon class="fa fa-user-graduate"></icon> <strong>Student number:</strong> {{ labuser.student_number }}
        {% endif %}
    </p>

    {% include "mylab/user_home.html" %}

{% endblock %}
